@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
/* line 11, ../scss/soe_helper.scss */
.more-link a,
.normal-link a,
a,
a.more-link {
  color: #b1040e;
}

@media (max-width: 767px) {
  /* line 15, ../scss/soe_helper.scss */
  .container {
    margin-bottom: 10px;
  }
}

/* line 25, ../scss/soe_helper.scss */
#global-header {
  background-color: #b1040e;
}
/* line 28, ../scss/soe_helper.scss */
#global-header .container {
  padding: 15px 0;
}

/* line 36, ../scss/soe_helper.scss */
#header #logo a {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../img/soe_logo.png") no-repeat;
  background-size: 160px 35.5px;
}
/* line 44, ../scss/soe_helper.scss */
#header #logo img {
  visibility: hidden;
  max-width: 160px;
}
@media (max-width: 480px) {
  /* line 49, ../scss/soe_helper.scss */
  #header #logo.logo-mobile {
    display: table-cell;
    padding: 0 10px 0 0;
    border-right: 1px solid !important;
  }
}
@media (max-width: 480px) {
  /* line 56, ../scss/soe_helper.scss */
  #header #logo.logo-mobile a {
    background-size: 120px 26.66px;
  }
}
@media (max-width: 480px) {
  /* line 63, ../scss/soe_helper.scss */
  #header #logo #name-and-slogan.with-logo {
    display: table-cell;
    padding: 0 0 0 10px;
  }
}
/* line 71, ../scss/soe_helper.scss */
#header.header {
  background: white;
  padding: 32px 0 0;
}
/* line 75, ../scss/soe_helper.scss */
#header.header #site-title-first-line.site-title-uppercase {
  font-size: 34px;
}
@media (max-width: 480px) {
  /* line 75, ../scss/soe_helper.scss */
  #header.header #site-title-first-line.site-title-uppercase {
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  /* line 75, ../scss/soe_helper.scss */
  #header.header #site-title-first-line.site-title-uppercase {
    font-size: 24px;
  }
}

/* line 87, ../scss/soe_helper.scss */
.main {
  padding-top: 60px;
  background: #f8f8f8;
}
/* line 92, ../scss/soe_helper.scss */
.main .border-simple img,
.main .border-simple-nowidth img {
  padding: 0;
}

/* line 101, ../scss/soe_helper.scss */
#global-footer {
  background-color: #b1040e;
}

/* line 106, ../scss/soe_helper.scss */
#footer.site-footer {
  border-top: none;
  background: white;
}
/* line 110, ../scss/soe_helper.scss */
#footer.site-footer h2 {
  line-height: 1.3em;
}
/* line 115, ../scss/soe_helper.scss */
#footer .block {
  font-size: 16px;
  line-height: 1.4em;
}
@media (max-width: 979px) {
  /* line 120, ../scss/soe_helper.scss */
  #footer #block-stanford-soe-helper-sitewide-stanford-soe-intranet-link {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  /* line 120, ../scss/soe_helper.scss */
  #footer #block-stanford-soe-helper-sitewide-stanford-soe-intranet-link {
    margin-top: 0;
  }
}
/* line 129, ../scss/soe_helper.scss */
#footer #block-bean-jumpstart-footer-social-media-0 {
  float: right;
  width: 22%;
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
  /* line 129, ../scss/soe_helper.scss */
  #footer #block-bean-jumpstart-footer-social-media-0 {
    width: 24%;
  }
}
@media (max-width: 979px) {
  /* line 129, ../scss/soe_helper.scss */
  #footer #block-bean-jumpstart-footer-social-media-0 {
    float: none;
    width: auto;
    margin-bottom: 30px;
  }
}
/* line 143, ../scss/soe_helper.scss */
#footer #block-bean-jumpstart-footer-social-media-0 .bean-stanford-social-media-connect a {
  height: 28px;
  background-repeat: no-repeat;
  background-size: auto 28px;
  margin-right: 18px;
}
/* line 150, ../scss/soe_helper.scss */
#footer #block-bean-jumpstart-footer-social-media-0 .bean-stanford-social-media-connect .field-name-field-s-smc-facebook a {
  background-image: url("../img/soe_facebook_icon.png");
  width: 15px;
}
/* line 155, ../scss/soe_helper.scss */
#footer #block-bean-jumpstart-footer-social-media-0 .bean-stanford-social-media-connect .field-name-field-s-smc-twitter a {
  background-image: url("../img/soe_twitter_icon.png");
  width: 35px;
}
/* line 160, ../scss/soe_helper.scss */
#footer #block-bean-jumpstart-footer-social-media-0 .bean-stanford-social-media-connect .field-name-field-s-smc-linkedin a {
  background-image: url("../img/soe_linkedin_icon.png");
  width: 30px;
}
/* line 165, ../scss/soe_helper.scss */
#footer #block-bean-jumpstart-footer-social-media-0 .bean-stanford-social-media-connect .field-name-field-s-smc-youtube a {
  background-image: url("../img/soe_youtube_icon.png");
  width: 40px;
}
/* line 170, ../scss/soe_helper.scss */
#footer #block-bean-jumpstart-footer-social-media-0 .bean-stanford-social-media-connect .field-name-field-s-smc-instagram a {
  background-image: url("../img/soe_instagram_icon.png");
  width: 30px;
  margin-right: 0;
}

/* line 184, ../scss/soe_helper.scss */
#main-menu .nav-collapse.collapse {
  float: right;
  margin-top: -46px;
}
@media (max-width: 1200px) {
  /* line 184, ../scss/soe_helper.scss */
  #main-menu .nav-collapse.collapse {
    float: left;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  /* line 184, ../scss/soe_helper.scss */
  #main-menu .nav-collapse.collapse {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 196, ../scss/soe_helper.scss */
  #main-menu .nav-collapse {
    width: 100%;
  }
}

/* line 203, ../scss/soe_helper.scss */
.navbar {
  margin-bottom: 0;
}
/* line 207, ../scss/soe_helper.scss */
.navbar .nav > li > a {
  color: #b1040e;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  /* line 207, ../scss/soe_helper.scss */
  .navbar .nav > li > a {
    padding-bottom: 0.25em;
    border-bottom: none;
  }
}
/* line 222, ../scss/soe_helper.scss */
.navbar .nav > .active-trail > a,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > .active > a:hover {
  border-bottom: 2px solid #333333;
}
@media (max-width: 767px) {
  /* line 222, ../scss/soe_helper.scss */
  .navbar .nav > .active-trail > a,
  .navbar .nav > li > a:focus,
  .navbar .nav > li > a:hover,
  .navbar .nav > .active > a:hover {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  /* line 230, ../scss/soe_helper.scss */
  .navbar .btn.btn-navbar {
    background: #b1040e;
    margin-top: -50px;
    float: right;
  }
}
@media (max-width: 480px) {
  /* line 230, ../scss/soe_helper.scss */
  .navbar .btn.btn-navbar {
    margin-top: -57px;
  }
}
@media (max-width: 385px) {
  /* line 230, ../scss/soe_helper.scss */
  .navbar .btn.btn-navbar {
    float: left;
    margin-top: 0;
  }
}

/* line 246, ../scss/soe_helper.scss */
.site-main-menu {
  background: white;
  border-bottom: 1px solid #e1e1e1;
}
@media (max-width: 767px) {
  /* line 250, ../scss/soe_helper.scss */
  .site-main-menu ul li.last.leaf {
    height: auto;
    border-right: none;
    padding-right: 0;
  }
}

/* line 259, ../scss/soe_helper.scss */
.region-navigation .block.contextual-links-region {
  padding-right: 7px;
  margin-right: 7px;
}

/* line 268, ../scss/soe_helper.scss */
.sidebar .nav li a {
  color: #b1040e;
}

/* line 273, ../scss/soe_helper.scss */
.sidebar .block-menu,
.sidebar .block-menu-block {
  background: none;
  margin: 1px;
}

/* line 278, ../scss/soe_helper.scss */
.main .menu li {
  line-height: 1.2em;
}

/* line 283, ../scss/soe_helper.scss */
.sidebar .block-menu h2,
.sidebar .block-menu-block h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  letter-spacing: 0;
}

/* line 290, ../scss/soe_helper.scss */
.sidebar .block-menu .content > .menu > li > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a {
  border-top: none;
}

/* line 303, ../scss/soe_helper.scss */
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li.expanded,
.sidebar .block-menu-block .content > .menu > li.expanded,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail {
  background: none;
}

/* line 308, ../scss/soe_helper.scss */
.sidebar .block-menu .content > .menu > li li a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a {
  font-size: 18px;
  padding: 0.25em;
}

/* line 315, ../scss/soe_helper.scss */
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:hover {
  text-decoration: none;
}

/* line 321, ../scss/soe_helper.scss */
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a.active-trail:before,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:focus:before,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:hover:before {
  content: "> ";
  margin-left: -12px;
}

/* line 326, ../scss/soe_helper.scss */
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last {
  border-bottom: none;
}

/* line 330, ../scss/soe_helper.scss */
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a {
  font-weight: 400;
}

/* CONTAINERS */
/* line 336, ../scss/soe_helper.scss */
.well {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0px, rgba(0, 0, 0, 0.1) 0 2px 2px 0;
}

/* INTERIOR OF PAGE THANGS */
/* line 343, ../scss/soe_helper.scss */
.summary {
  font-family: "Roboto Slab", serif;
  font-size: 1.3;
  line-height: 1.5em;
}

/* line 349, ../scss/soe_helper.scss */
h1 {
  font-weight: 400;
  margin: -9px 0 10px;
  font-size: 1.9em;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0;
}

/* line 357, ../scss/soe_helper.scss */
h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.4em;
  letter-spacing: 0.02em;
}

/* line 363, ../scss/soe_helper.scss */
h3 {
  font-size: 1.3em;
}

/* line 369, ../scss/soe_helper.scss */
h2 a:hover,
h3 a:hover,
h4 a:hover {
  text-decoration: none;
}

/* line 376, ../scss/soe_helper.scss */
.normal-link h2,
.normal-link h3,
h2.normal-link,
h3.normal-link {
  font-size: 1.1em;
}

/* line 380, ../scss/soe_helper.scss */
.summary {
  margin-bottom: 30px;
}

/* line 384, ../scss/soe_helper.scss */
li {
  line-height: 1.4em;
  margin-bottom: 10px;
}

/* line 389, ../scss/soe_helper.scss */
.node .group_s_postcard_image .field-collection-container > .field > .field-items > .field-item {
  margin-left: 2em;
}

/* line 393, ../scss/soe_helper.scss */
.main .border-shadow img {
  box-shadow: none;
}

/* line 397, ../scss/soe_helper.scss */
.node-type-stanford-landing-page .view-mode-stanford_medium_square {
  border-top: 1px solid #d6d6d6;
}

@media (max-width: 400px) {
  /* line 401, ../scss/soe_helper.scss */
  .node .group_s_postcard_image {
    max-width: 100%;
    float: none;
  }

  /* line 406, ../scss/soe_helper.scss */
  .node .group_s_postcard_image .field-collection-container > .field > .field-items > .field-item {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  /* line 411, ../scss/soe_helper.scss */
  .node-stanford-landing-page.stanford-4-col-header .field-name-field-landing-page-item > .field-items > .field-item {
    width: 46.333%;
  }
}
@media (max-width: 979px) {
  /* line 416, ../scss/soe_helper.scss */
  .node-stanford-landing-page.stanford-4-col-header .field-name-field-landing-page-item > .field-items > .field-item {
    width: 48%;
    margin-right: 1.5%;
  }
}
@media (max-width: 525px) {
  /* line 422, ../scss/soe_helper.scss */
  .node-stanford-landing-page.stanford-4-col-header .field-name-field-landing-page-item > .field-items > .field-item {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
/* CALENDAR */
/* line 431, ../scss/soe_helper.scss */
.view-stanford-events-calendar .view-header .date-nav-wrapper {
  background: white;
}

/* line 435, ../scss/soe_helper.scss */
.calendar-calendar th.days {
  background: #efefef;
}

/* line 439, ../scss/soe_helper.scss */
.calendar-calendar .mini td {
  background: #efefef;
}

/* line 443, ../scss/soe_helper.scss */
.calendar-calendar table.mini td.empty {
  background: #d7d7d7;
}

/* line 447, ../scss/soe_helper.scss */
.calendar-calendar .mini td.has-events {
  background: #d7d7d7;
}

/*CALENDAR DAY + DATE SQUARE */
/* line 453, ../scss/soe_helper.scss */
.date-day {
  font-size: 22px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

/* line 459, ../scss/soe_helper.scss */
.date-stacked {
  margin-top: 7px;
}

/*NEWS WIDGET*/
/* line 465, ../scss/soe_helper.scss */
.descriptor {
  text-transform: none;
  letter-spacing: 0.02em;
  font-size: 0.9em;
  margin-bottom: 4px;
  line-height: 1.2em;
}

/* line 473, ../scss/soe_helper.scss */
.postcard-left {
  margin-top: 6px;
}

/* line 478, ../scss/soe_helper.scss */
.postcard-left > div:first-child img,
.postcard-left-wrap > div:first-child img {
  margin-top: 7px;
}

/* TABLES */
/* line 485, ../scss/soe_helper.scss */
td,
th {
  padding: 0.8em;
  line-height: 1.3em;
  font-size: 0.9em;
}

/* line 491, ../scss/soe_helper.scss */
th {
  background: #efefef;
  border: 1px solid #d6d6d6;
}

/* line 496, ../scss/soe_helper.scss */
td {
  border: 1px solid #d6d6d6;
}

/* line 501, ../scss/soe_helper.scss */
td,
th {
  border-right: none;
  border-left: none;
}

/*PEOPLE*/
/*GRID*/
/* line 510, ../scss/soe_helper.scss */
.view-stanford-person-grid .views-row h3 {
  font-size: 1em;
  margin: 0.6em 0 0;
}

/* LIST VIEW */
/* line 521, ../scss/soe_helper.scss */
button,
input,
label,
select,
textarea {
  font-size: 16px;
}

/* line 525, ../scss/soe_helper.scss */
.views-exposed-form label {
  font-weight: normal;
}

/* FORMS*/
/* line 531, ../scss/soe_helper.scss */
input.form-submit {
  padding: 0 13px;
  background-image: none;
  background: white;
  color: #8c1515;
}

/* line 538, ../scss/soe_helper.scss */
.sidebar .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1em;
}

/* line 542, ../scss/soe_helper.scss */
.views-exposed-form .views-exposed-widget {
  padding: 0.8em 0.7em 0 0;
}

/* line 562, ../scss/soe_helper.scss */
.uneditable-input,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  height: 30px;
  padding: 4px 13px;
}

/* line 569, ../scss/soe_helper.scss */
.uneditable-input,
input,
textarea {
  width: 178px;
}

/* line 574, ../scss/soe_helper.scss */
input[type="file"],
select {
  height: 40px;
}

/* line 579, ../scss/soe_helper.scss */
input.form-submit:focus,
input.form-submit:hover {
  background: #b1040e;
  color: white;
}

/* line 584, ../scss/soe_helper.scss */
.form-item label {
  font-weight: 400;
}

/* LISTS */
/* line 590, ../scss/soe_helper.scss */
.views-row-lines .views-row {
  border-color: #d7d7d7;
}

/* line 594, ../scss/soe_helper.scss */
ul.pager li a {
  border: 1px solid #d7d7d7;
  background: white;
  margin-bottom: 12px;
  margin-right: 4px;
  font-size: 0.9em;
}

/* line 604, ../scss/soe_helper.scss */
ul.pager li a:focus,
ul.pager li a:hover,
ul.pager li.pager-current {
  margin-right: 4px;
  font-weight: 300;
}

/* WYSIWYG */
/* line 612, ../scss/soe_helper.scss */
.btn a,
a.btn {
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 26px;
  padding: 0.7em 1em;
  letter-spacing: 0.03em;
  background: #b1040e;
}

/* line 621, ../scss/soe_helper.scss */
a.btn-yellow {
  color: black;
  background: #ffbd54;
}

/* line 626, ../scss/soe_helper.scss */
a.btn-turquoise {
  color: black;
  background: #00ece9;
}

/* line 631, ../scss/soe_helper.scss */
a.btn-pink {
  color: black;
  background: #ff525c;
}

/* line 636, ../scss/soe_helper.scss */
p.columns {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  line-height: 54px;
  font-weight: bold;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 100px;
  -moz-column-gap: 100px;
  column-gap: 100px;
}

@media (max-width: 767px) {
  /* line 645, ../scss/soe_helper.scss */
  p.columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
/* line 650, ../scss/soe_helper.scss */
p.related-link {
  background: white;
  padding: 26px 36px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

/* line 656, ../scss/soe_helper.scss */
p.related-link:before {
  content: "Related:";
  padding-right: 3px;
}

/* line 661, ../scss/soe_helper.scss */
a.external-link:after {
  content: " ";
  background-image: url("../img/soe_external_link_icon.png");
  background-position: 6px center;
  background-repeat: no-repeat;
  background-size: 50%;
  padding: 0 5px 1px 20px;
}

/*MAIN BODY*/
/* line 672, ../scss/soe_helper.scss */
body {
  font-size: 20px;
  line-height: 1.5em;
}

/* SIDEBAR FIRST AND MAIN CONTENT GUTTER */
@media (min-width: 1200px) {
  /* line 679, ../scss/soe_helper.scss */
  .span9 {
    width: 740px;
  }

  /* line 683, ../scss/soe_helper.scss */
  #content.span9 {
    margin-left: 80px;
  }
}
/* SEARCH */
/* line 690, ../scss/soe_helper.scss */
#block-stanford-search-api-search-api-search-block {
  margin-top: -22px;
}

/* line 694, ../scss/soe_helper.scss */
#block-stanford-search-api-search-api-search-block input#edit-search {
  display: none;
}

/* line 698, ../scss/soe_helper.scss */
#block-stanford-search-api-search-api-search-block input[type="text"] {
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-top: 5px;
}

/* line 707, ../scss/soe_helper.scss */
#block-stanford-search-api-search-api-search-block .form-item {
  background: url("../img/soe_mag_glass_white.svg") no-repeat 89% center;
}

/* line 711, ../scss/soe_helper.scss */
#block-stanford-search-api-search-api-search-block .input-medium {
  width: 60px;
}

/* line 715, ../scss/soe_helper.scss */
#block-stanford-search-api-search-api-search-block input::-webkit-input-placeholder {
  color: white;
}

/* line 719, ../scss/soe_helper.scss */
#block-stanford-search-api-search-api-search-block input::-moz-placeholder {
  color: white;
}

/* line 723, ../scss/soe_helper.scss */
#block-stanford-search-api-search-api-search-block input:-ms-input-placeholder {
  color: white;
}

@media (max-width: 1199px) {
  /* line 727, ../scss/soe_helper.scss */
  #block-stanford-search-api-search-api-search-block .form-item {
    background-position: 86.5%;
  }
}
@media (max-width: 979px) {
  /* line 732, ../scss/soe_helper.scss */
  #block-stanford-search-api-search-api-search-block .form-item {
    background-position: 82%;
  }
}
@media (max-width: 767px) {
  /* line 737, ../scss/soe_helper.scss */
  #block-stanford-search-api-search-api-search-block .form-item {
    background-position: 76.5%;
  }
}
@media (max-width: 695px) {
  /* line 742, ../scss/soe_helper.scss */
  #block-stanford-search-api-search-api-search-block .form-item {
    background-position: 72%;
  }
}
@media (max-width: 580px) {
  /* line 747, ../scss/soe_helper.scss */
  #block-stanford-search-api-search-api-search-block .form-item {
    background-position: 65%;
  }
}
@media (max-width: 480px) {
  /* line 752, ../scss/soe_helper.scss */
  #block-stanford-search-api-search-api-search-block .form-item {
    background-position: 58%;
  }
}
@media (max-width: 400px) {
  /* line 757, ../scss/soe_helper.scss */
  #block-stanford-search-api-search-api-search-block .form-item {
    background-position: 45%;
  }
}
/* SEARCH PAGE ADVANCED SEARCH SPACING */
/* line 764, ../scss/soe_helper.scss */
.page-search div#edit-basic {
  margin-bottom: 5px;
}

/* BUTTON LINK STYLES */
/* line 770, ../scss/soe_helper.scss */
#content-body .content a.btn {
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-bottom: 40px;
}

@media (max-width: 480px) {
  /* line 777, ../scss/soe_helper.scss */
  #content-body .content a.btn {
    width: 65%;
  }
}
/* AFTER CONTENT FOR HEADING LINKS */
/* line 787, ../scss/soe_helper.scss */
#content .content-body .field-name-body h2 a:after,
#content .content-body .field-name-body h3 a:after,
#content .content-body .field-name-body h4 a:after,
#content .content-body .field-name-body h5 a:after,
#content .content-body .field-name-body h6 a:after {
  content: " >";
  vertical-align: middle;
}

/* line 792, ../scss/soe_helper.scss */
.node-type-webform textarea {
  height: 100px;
}

/* MAILCHIMP SIGN-UP */
/* line 798, ../scss/soe_helper.scss */
#mc_embed_signup_scroll .mc-field-group input::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 802, ../scss/soe_helper.scss */
#mc_embed_signup_scroll .mc-field-group input::-moz-placeholder {
  color: #cccccc;
}

/* line 806, ../scss/soe_helper.scss */
#mc_embed_signup_scroll input.button {
  height: 40px;
  padding: 0 13px 2px;
}

/* line 811, ../scss/soe_helper.scss */
.mc-field-group {
  float: left;
}

/* line 815, ../scss/soe_helper.scss */
.mc-field-group input {
  border-radius: 0;
}

/* line 821, ../scss/soe_helper.scss */
#mc_embed_signup_scroll .uneditable-input,
#mc_embed_signup_scroll input,
#mc_embed_signup_scroll textarea {
  width: 110px;
}

/* line 825, ../scss/soe_helper.scss */
#mc_embed_signup_scroll input.button {
  width: 75px;
  -webkit-border-radius: 0;
}

/* line 833, ../scss/soe_helper.scss */
#mc_embed_signup_scroll button,
#mc_embed_signup_scroll input,
#mc_embed_signup_scroll select,
#mc_embed_signup_scroll textarea {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 838, ../scss/soe_helper.scss */
#mc_embed_signup_scroll #mc-embedded-subscribe input,
#mc_embed_signup_scroll #mc-embedded-subscribe.button {
  background-color: #b1040e;
  border-style: none;
  color: white;
}

/* line 844, ../scss/soe_helper.scss */
#mc_embed_signup_scroll p {
  padding-right: 10px;
}

/* LANDING PAGE STYLES */
@media (max-width: 979px) {
  /* line 850, ../scss/soe_helper.scss */
  .node-stanford-landing-page.large-landscape .field-name-field-landing-page-item > .field-items > .field-item {
    width: 48%;
  }

  /* line 854, ../scss/soe_helper.scss */
  .node-stanford-landing-page.large-landscape .field-name-field-landing-page-item > .field-items > .field-item:nth-child(3n) {
    margin-right: 3%;
  }

  /* line 858, ../scss/soe_helper.scss */
  .node-stanford-landing-page.large-landscape .field-name-field-landing-page-item > .field-items > .field-item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 550px) {
  /* line 864, ../scss/soe_helper.scss */
  .node-stanford-landing-page.large-landscape .field-name-field-landing-page-item > .field-items > .field-item,
  .node-stanford-landing-page.large-landscape .field-name-field-landing-page-item > .field-items > .field-item img {
    width: 100%;
    margin-right: 0;
  }

  /* line 869, ../scss/soe_helper.scss */
  .node-stanford-landing-page.large-landscape .field-name-field-landing-page-item > .field-items > .field-item:nth-child(3n) {
    margin-right: 0;
  }
}
