/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 950 of scss/components/_soe_dm_article.scss
        from line 26 of scss/components/_soe_components.scss
        from line 6 of scss/soe_helper.scss

945:     @include breakpoint-max(x-small) {
946:       width: 100%;
947:     }
948:   }
949: }

Backtrace:
scss/components/_soe_dm_article.scss:950
scss/components/_soe_components.scss:26
scss/soe_helper.scss:6
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/scss/parser.rb:1207:in `expected'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/scss/parser.rb:1137:in `expected'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/scss/parser.rb:667:in `block'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/scss/parser.rb:684:in `block_child'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/scss/parser.rb:41:in `parse'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/engine.rb:409:in `_to_tree'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/engine.rb:315:in `to_tree'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:400:in `run'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Users/minorwm/.rvm/gems/ruby-head/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/Users/minorwm/.rvm/gems/ruby-head/bin/sass:23:in `load'
/Users/minorwm/.rvm/gems/ruby-head/bin/sass:23:in `<main>'
/Users/minorwm/.rvm/gems/ruby-head/bin/ruby_executable_hooks:15:in `eval'
/Users/minorwm/.rvm/gems/ruby-head/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 950 of scss/components/_soe_dm_article.scss\A         from line 26 of scss/components/_soe_components.scss\A         from line 6 of scss/soe_helper.scss\A \A 945:     @include breakpoint-max(x-small) {\A 946:       width: 100%;\A 947:     }\A 948:   }\A 949: }"; }
