@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
.print-breadcrumb,
.print-content .node-stanford-magazine-article .field-name-field-s-mag-article-accent-color,
.print-content .node-stanford-magazine-article .field-name-field-s-mag-article-dept,
.print-content .node-stanford-magazine-article .field-name-field-s-mag-article-featured,
.print-content .node-stanford-magazine-article .field-name-field-s-mag-article-print,
.print-footnote,
.print-hr,
.print-links,
.print-site_name,
.print-source_url {
  display: none; }

.print-logo {
  width: 82%;
  margin: 0 auto; }
  .print-logo img {
    width: 25%;
    height: auto;
    margin-top: 40px; }

.print-content {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .print-content .paragraphs-item-p-wysiwyg-simple {
    width: 100%; }
  .print-content .node-stanford-magazine-article h2,
  .print-content .node-stanford-magazine-article h3,
  .print-content .node-stanford-magazine-article h4 {
    font-family: "Roboto Slab", serif; }
  .print-content .node-stanford-magazine-article h2 {
    font-size: 20px;
    margin-top: 30px; }
    .print-content .node-stanford-magazine-article h2:first-child {
      font-size: 26px;
      line-height: 1.2em;
      width: 90%;
      margin: 40px auto 10px; }
  .print-content .node-stanford-magazine-article h3 {
    font-size: 16px; }
  .print-content .node-stanford-magazine-article h4 {
    font-size: 13px; }
  .print-content .node-stanford-magazine-article p {
    font-size: 13px;
    line-height: 18px; }
  .print-content .node-stanford-magazine-article .content {
    width: 90%;
    margin: 0 auto; }
  .print-content .node-stanford-magazine-article .field-name-field-s-mag-article-topics {
    width: 100%;
    margin: 0 auto; }
    .print-content .node-stanford-magazine-article .field-name-field-s-mag-article-topics .field-items {
      display: inline-flex; }
      .print-content .node-stanford-magazine-article .field-name-field-s-mag-article-topics .field-items .field-item a:after {
        content: ', \00a0';
        color: #333333; }
      .print-content .node-stanford-magazine-article .field-name-field-s-mag-article-topics .field-items .field-item:last-child a:after {
        content: none; }
    .print-content .node-stanford-magazine-article .field-name-field-s-mag-article-topics a {
      color: #b1040e;
      font-size: 13px;
      font-weight: 300;
      margin: 0 auto 18px; }
  .print-content .node-stanford-magazine-article .field-name-field-s-mag-article-byline,
  .print-content .node-stanford-magazine-article .field-name-field-s-mag-article-date {
    color: #606060;
    font-size: 13px;
    font-weight: 300;
    display: inline-flex;
    margin: 0 auto 32px; }
  .print-content .node-stanford-magazine-article .field-name-field-s-mag-article-date {
    margin-left: 0; }
    .print-content .node-stanford-magazine-article .field-name-field-s-mag-article-date .field-item:after {
      content: '\00a0 | \00a0'; }
  .print-content .node-stanford-magazine-article .field-name-field-s-mag-article-dek {
    font-size: 18px;
    line-height: 1.3em;
    margin: 20px auto 22px;
    width: 90%; }
  .print-content .node-stanford-magazine-article .field-name-body {
    margin: 0 auto; }
    .print-content .node-stanford-magazine-article .field-name-body .caption {
      color: #606060;
      font-size: 9px;
      font-style: italic;
      text-align: center;
      margin: 0 auto; }
