@charset "UTF-8";

$brand: #8C1515;
$brand-bright: #B1040E;
$primary-color: #333333;
$white: #FFFFFF;
$off-white: #F8F8F8;
$black: #000000;
$gray: #D7D7D7;
$dark-gray: #CCCCCC;
$light-gray: #EFEFEF;
$yellow: #FFBD54;
$turquoise: #00ECE9;
$pink: #FF525C;
