@charset "UTF-8";

$brand: #8c1515;
$brand-bright: #b1040e;
$primary-color: #333333;
$white: #ffffff;
$off-white: #f8f8f8;
$black: #000000;
$gray: #d7d7d7;
$dark-gray: #cccccc;
$light-gray: #efefef;
$gray-orange: #606060;
$orange: #ffbd54;
$turquoise: #00ece9;
$pink: #ff525c;
$dm-megamenu-bkgd: #575757;
$box-shadow: rgba(0, 0, 0, 0.2);
