@charset "UTF-8";

$primary-color: #333333;
$white: #ffffff;
$off-white: #f8f8f8;
$black: #000000;
$gray: #d7d7d7;
$dark-gray: #cccccc;
$light-gray: #efefef;
$cardinal: #b1040e;
$yellow: #ffbd54;
$turquoise: #00ece9;
$pink: #ff525C;
