@charset "UTF-8";

//
// WYSIWYG
//

.summary {
  font-family: $roboto-slab;
  font-size: em(32px);
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 40px;
}

a {
  &[class*="btn-"] {
    color: $black;
  }

  &.btn-orange {
    background: $orange;
  }

  &.btn-turquoise {
    background: $turquoise;
  }

  &.btn-pink {
    background: $pink;
  }

  &.btn.external-link:after {
    content: url("../img/soe_external_link_icon_white.svg");
    padding-left: 5px;
    vertical-align: -2%;
  }

  &[class*="btn-"].btn.external-link {
    &:after {
      content: url("../img/soe_external_link_icon_black.svg");
      padding-left: 5px;
      vertical-align: -2%;
    }

    &:focus:after,
    &:hover:after {
      content: url("../img/soe_external_link_icon_white.svg");
    }
  }

  &.external-link {
    :after {
      content: url("../img/soe_external_link_icon_red.svg");
      padding-left: 5px;
      vertical-align: -2%;
    }

    &:focus:after,
    &:hover:after {
      content: url("../img/soe_external_link_icon_black.svg");
    }
  }
}

p.btn-center {
  text-align: center;

  a.btn {
    margin-right: 40px;
    @include breakpoint-max(small) {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

p.columns {
  font-family: $roboto-slab;
  font-size: em(28px);
  line-height: 1.8em;
  font-weight: bold;
  @include column-count (2);
  @include column-gap (30px);
  @include breakpoint-max(small) {
     @include column-count (1);
  }
}

p.related-link {
  background: $white;
  line-height: 1.3em;
  padding: 27px 36px 30px;
  @include box-shadow;

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &:before {
    content: "Related \00a0 | \00a0";
    font-weight: 600;
  }
}

p.summary.drop-cap {
  &:first-letter {
    font-size: em(92px, 32px);
    font-weight: 600;
    float: left;
    padding: 25px 10px 0 0;
  }
}

.caption {
  color: $gray-orange;
  font-weight: 300;
  font-style: normal;
  line-height: 1.3em;
  text-align: center;
  margin: 0 2em 4em;
}

.main {
  table {
    width: 100%;
    margin-bottom: 2em;
  }

  p {
    &.float-left {
      margin-right: 15px;
    }

    &.float-right {
      margin-left: 15px;
    }
  }
}
