@charset "UTF-8";

//
// DIGITAL MAGAZINE BRAND BAR AND HEADER
//

.node-type-stanford-magazine-issue,
.page-taxonomy-term,
.node-type-stanford-magazine-issue,
.page-magazine,
.page-magazine-all,
.node-type-stanford-magazine-article {
  #header {
    #logo {
      img {

        max-width: 90px;
        @include breakpoint-max(small) {
          max-width: 160px;
        }
        @media (max-width: 480px) {
          max-width: 120px;
        }
        @media (max-width: 380px) {
          max-width: 80px;
        }
      }
    }

    &.header {
      min-height: 45px;
      padding: 20px 0 0;
    }

    #site-title-first-line.site-title-uppercase {
      font-size: 18px;
      margin-bottom: -3px;
      @include breakpoint-max(small) {
        font-size: 34px;
        margin-bottom: -7px;
      }
      @include breakpoint-max(x-small) {
        font-size: 28px;
      }
      @media (max-width: 400px) {
        font-size: 24px;
        margin-bottom: -4px;
      }
      @media (max-width: 380px) {
        font-size: 16px;
      }
    }
  }
}
