@charset "UTF-8";

//
// DIGITAL MAGAZINE TAXONOMY VIEWS
// FOR TOPICS, SERIES, DEPARTMENT, AND EYEBROW TAXONOMIES
//

.page-taxonomy-term {
  #page-title {
    text-align: center;
  }

  .view-stanford-magazine-topics {
    &.most-recent-article {
      .most-recent-article-container {
        position: relative;
        display: flex;
        @include box-shadow;
        @include breakpoint(medium) {
          display: block;
        }

        .mag-topic-card-container {
          width: 50%;
          background: $white;
          padding: 50px 30px 30px;
          @include breakpoint(medium) {
            width: auto;
          }

          .mag-topic-card-content-container {
            position: absolute;
            bottom: 40px;
            @include breakpoint(medium) {
              position: static;
            }
          }

          .mag-article-date {
            color: $gray-orange;
            font-size: em(20px);
            font-weight: 100;
            margin-bottom: 10px;
          }

          .mag-article-title {
            font-size: em(32px);
            line-height: 1.2em;
            @media (max-width: 1199px) and (min-width: 979px) {
              font-size: em(20px);
            }

            &[class*="mag-article-color-"] a {
              color: $primary-color;
              text-decoration: underline;
              text-decoration-skip: ink;

              &:focus,
              &:hover {
                text-decoration-color: $primary-color;
              }
            }

            &.mag-article-color-orange a {
              text-decoration-color: $orange;
            }

            &.mag-article-color-turquoise a {
              text-decoration-color: $turquoise;
            }

            &.mag-article-color-pink a {
              text-decoration-color: $pink;
            }
          }

          .mag-article-topics {
            font-size: em(18px);
            margin-top: 20px;
          }

          .mag-article-issue {
            position: absolute;
            bottom: 15px;
            right: 15px;

            &[class*="mag-issue-color-"] {
              padding: 0 5px;
              font-size: em(18px);
            }

            &.mag-issue-color-orange {
              background: $orange;
            }

            &.mag-issue-color-turquoise {
              background: $turquoise;
            }

            &.mag-issue-color-pink {
              background: $pink;
            }

            a {
              color: $primary-color;
            }
          }
        }

        .mag-article-img img {
          @include breakpoint(medium) {
            width: 100%;
          }
        }
      }
    }

    &.article-grouping {
      .mag-topic-card-container {
        position: relative;
        background: white;
        padding: 30px;
        @include box-shadow;

        .mag-article-date {
          color: $gray-orange;
          font-size: em(18px);
          font-weight: 100;
        }

        .mag-article-issue {
          position: absolute;
          bottom: 15px;
          right: 30px;

          a {
            color: $primary-color;
          }
        }
      }
    }
  }
}
