@charset "UTF-8";

//
// HOMEPAGE
//

.front {
  .main {
    padding: 0;
  }

  [id*="block-bean-homepage-2-column-"] {
    .content {
      width: 65%;
      margin: 0 auto;

      a:not(.btn) {
        color: $primary-color;
        text-decoration: underline;
        @include td-skip;
        @include td-color($turquoise);

        &:focus,
        &:hover {
          @include td-color($primary-color);
        }
      }
    }
  }
}
