@charset "UTF-8";

//
// DIGITAL MAGAZINE BRAND BAR AND HEADER
//

.node-type-stanford-magazine-issue,
.page-taxonomy-term,
.node-type-stanford-magazine-issue,
.page-magazine,
.page-magazine-all,
.node-type-stanford-magazine-article {
  #header {
    #logo {
      img {
        max-width: 90px;
      }
    }

    &.header {
      min-height: 45px;
      padding: 20px 0 0;
    }

    #site-title-first-line.site-title-uppercase {
      font-size: 18px;
      margin-bottom: -3px;
    }
  }
}
