@charset "UTF-8";

//
// DIGITAL MAGAZINE ISSUE
// FOR VIEWS AND NODE DISPLAY
//

// RELATED ISSUE VIEW

.view-stanford-magazine-article-issue- {
  text-align: center;

  .mag-article-issue-text {
    font-size: em(28px);
    margin-bottom: 30px;
  }

  .mag-article-issue-container {
    position: relative;

    .mag-article-issue-image-container {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 160px;
        right: 160px;
        height: 100%;
        @include gradient-vertical;
        @include breakpoint(large) {
          left: 45px;
          right: 45px;
        }
        @include breakpoint(medium) {
          left: 0;
          right: 0;
        }
      }
    }

    [class*="mag-issue-color-"] {
      .mag-article-issue-content-container {
        position: absolute;
        bottom: 40%;
        width: 100%;

        > a {
          font-family: $roboto-slab;
          color: $black;
          display: inline-flex;
          font-weight: 800;
          font-size: em(32px);
          padding: 30px;
        }

        .mag-article-issue-title {
          &:after {
            content: "\00a0 \00a0 |\00a0 \00a0 ";
          }
        }

        .mag-article-issue-more {
          &:after {
            content: url("../img/soe_banner_arrow_right_black.png");
            vertical-align: middle;
            padding-left: 20px;
          }
        }
      }
    }

    .mag-issue-color-orange a {
      background: $orange;
    }

    .mag-issue-color-turquoise a {
      background: $turquoise;
    }

    .mag-issue-color-pink a {
      background: $pink;
    }
  }
}
