@charset "UTF-8";

//
// GLOBAL
//

body {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45em;
}

h1 {
  font-family: $roboto-slab;
  font-size: 2.4em;
  font-weight: 600;
  letter-spacing: 0;
  margin: -9px 0 10px;
}

h2 {
  font-family: $roboto-slab;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin: 1.8em 0 0.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 1.3em 0 0.3em;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  margin: 1em 0 0.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: underline;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn a,
a.btn {
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 26px;
  padding: 0.7em 1em;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  background: $brand-bright;
}

.normal-link a,
a {
  color: $brand-bright;
}

.more-link a,
a.more-link {
  font-size: 20px;
  color: $brand-bright;

  &:after {
    content: " ›";
  }
}

.normal-link h2,
.normal-link h3,
h2.normal-link,
h3.normal-link {
  font-size: 1.1em;
}

li {
  line-height: 1.4em;
  margin-bottom: 10px;
}

#content {
  .content {
    ul li {
      list-style-type: disc;

      &:last-child {
        margin-bottom: 1.5em;
      }
    }

    ol li {
      &:last-child {
        margin-bottom: 1.5em;
      }
    }

    ul.pager li {
      a {
        border: 1px solid $gray;
        background: $white;
        margin-bottom: 12px;
        margin-right: 4px;
        font-size: 0.9em;

        &:focus,
        &:hover {
          margin-right: 4px;
          font-weight: 300;
        }
      }

      &.pager-current {
        margin-right: 4px;
        font-weight: 300;
      }
    }
  }
}

td,
th {
  padding: 0.8em;
  line-height: 1.3em;
  font-size: 0.9em;
  border: 1px solid $gray;
  border-right: none;
  border-left: none;
}

th {
  background: $light-gray;
}

.well {
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0px, rgba(0, 0, 0, 0.1) 0 2px 2px 0;

  h2 {
    font-size: 1.3em;
    font-weight: 600;
  }

  p {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.4em;

    a {
      text-decoration: underline;
    }
  }
}

.summary {
  font-family: $roboto-slab;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 30px;
}

.descriptor {
  text-transform: none;
  letter-spacing: 0.02em;
  font-size: 0.9em;
  margin-bottom: 4px;
  line-height: 1.2em;
}

.postcard-left {
  margin-top: 6px;
}

.views-row-lines .views-row {
  border-color: $gray;
}

.main {
  padding-top: 60px;
  background: $off-white;
}

.container {
  @media (max-width: 767px) {
    margin-bottom: 10px;

    #fullwidth-bottom & {
      margin-bottom: 0;
    }
  }
}

#content.span9 {
  @media (min-width: 1200px) {
    width: 740px;
    margin-left: 80px;
  }
}
