@charset "UTF-8";

//
// SEARCH
//

#block-stanford-search-api-search-api-search-block {
  margin-top: -22px;

  input#edit-search {
    display: none;
  }

  input[type="text"] {
    font-family: $primary-font;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 5px 0 0 30px;
    background: url("../img/soe_mag_glass_white.svg") no-repeat 89% center;
    @media (max-width: 1199px) {
      background-position: 86.5%;
    }
    @media (max-width: 979px) {
      background-position: 82%;
    }
    @media (max-width: 767px) {
      background-position: 76.5%;
    }
    @media (max-width: 695px) {
      background-position: 72%;
    }
    @media (max-width: 580px) {
      background-position: 65%;
    }
    @media (max-width: 480px) {
      background-position: 58%;
    }
    @media (max-width: 400px) {
      background-position: 48%;
    }
  }

  .input-medium {
    width: 60px;

    &:focus {
      width: 175px;
    }
  }

  input:-ms-input-placeholder {
    color: $white;
  }

  input::-moz-placeholder {
    color: $white;
  }

  input::-webkit-input-placeholder {
    color: $white;
  }

  // .form-item {
  //   background: url("../img/soe_mag_glass_white.svg") no-repeat 89% center;
  //   @media (max-width: 1199px) {
  //     background-position: 86.5%;
  //   }
  //   @media (max-width: 979px) {
  //     background-position: 82%;
  //   }
  //   @media (max-width: 767px) {
  //     background-position: 76.5%;
  //   }
  //   @media (max-width: 695px) {
  //     background-position: 72%;
  //   }
  //   @media (max-width: 580px) {
  //     background-position: 65%;
  //   }
  //   @media (max-width: 480px) {
  //     background-position: 58%;
  //   }
  //   @media (max-width: 400px) {
  //     background-position: 48%;
  //   }
  // }
}

.page-search div#edit-basic {
  margin-bottom: 5px;
}
