@charset "UTF-8";

//
// DIGITAL MAGAZINE CCOLLECTIONS
// LANDING PAGE
//

// COLLECTIONS LANDING PAGE

.page-magazine-collections,
.node-type-stanford-collection {
  .view-display-id-collections_page {
    margin: 0 10%;
    table {
      tr {
        td {
          border: none;
        }
      }
    }

    .view-header {
      h1 {
        font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #686868;
        font-size: 1.3em;
        text-align: center;
        margin-bottom: 0;
      }

      h2 {
        font-size: 2.8em;
        text-align: center;
        margin: 0 0 60px;
        width: 100%;
      }
    }

    .mag-collection-container {
      background-color: #fff;
      float: left;
      width: 100%;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

      .mag-collection-img {
        float: left;
      }

      .mag-collection-content-container {
        float: left;
        padding: 25px 10px 0 40px;
        width: 50%;

        .mag-collection-title {
          font-size: 1.3em;
          line-height: 1.3em;
          font-weight: 600;
          margin-bottom: 25px;
          margin-top: 10px;

          a {
            color: #B1040E;
          }
        }

        .mag-collection-superhead {
          color: #686868;
          font-size: 0.9em;
          font-weight: 100;
        }

        .mag-collection-lead {
          font-size: 0.8em;
          font-weight: 400;
          line-height: 1.2em;
          margin: 20px 0;
        }
      }
    }
  }
}

//
// A DIGITAL MAGAZINE COLLECTION PAGE
//

// A COLLECTION PAGE

.node-type-stanford-collection {
  #content-head {
    display: block;
    #page-title {
      display: none;
    }
  }

  .view-display-id-collection_details {
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #e4e4e4;

    .views-row {
      width: 100%;
    }

    .mag-collection-superhead {
      color: #686868;
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      letter-spacing: 0;
      font-size: 1.6em;
      margin: 0 auto 60px;
      text-align: center;
    }

    .mag-collection-title {
      color: #333;
      font-family: "Roboto Slab", serif;
      font-size: 2.8em;
      font-weight: 600;
      letter-spacing: 0;
      margin: -9px 0 80px;
      text-align: center;

      @include breakpoint-max(small) {
        line-height: 1em;
      }
    }

    .mag-collection-lead-text {
      color: #969696;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    }
  }

  .view-display-id-collection_group_block_1 {
    .mag-article-img {
      width: 45%;
      float: left;

      @include breakpoint-max(large) {
        width: 41%;
      }

      @include breakpoint-max(medium) {
        width: 100%;
      }
    }

    .mag-article-content-container {
      float: left;
      margin-bottom: 80px;
      min-height: 202px;
      width: 49%;

      @include breakpoint-max(large) {
        min-height: auto;
        width: 52%;

        .mag-article-topics {
          margin: 20px 0 0 !important;
        }
      }

      @include breakpoint-max(medium) {
        width: auto;
      }
    }

    .edit-link {
      float: left;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}
