@charset "UTF-8";

//
// DIGITAL MAGAZINE NAVIGATION
//

// PRIMARY NAVIGATION

.node-type-stanford-collection,
.page-taxonomy-term,
.node-type-stanford-magazine-issue,
.page-magazine,
.page-magazine-all,
.node-type-stanford-magazine-article {
  .navbar {
    .btn.btn-navbar {
      @include breakpoint-max(small) {
        background: $brand-bright;
        margin-top: -47px;
        float: right;
      }
      @include breakpoint-max(x-small) {
        margin-top: -47px;
      }
      @media (max-width: 380px) {
        margin-top: -47px;
      }
      @media (max-width: 305px) {
        float: left;
        margin-top: 0;
      }
    }
  }
}

// DIGITAL MAGAZINE NAVIGATION

#digital-magazine-menu {
  background: $turquoise;

  .container {
    @include breakpoint-max(small) {
      width: auto;
      margin: 0 20px;
    }
  }

  .region-digital-magazine-menu {
    display: flex;
    justify-content: center;
    @include breakpoint-max(medium) {
      flex-wrap: wrap;
    }
    @include breakpoint-max(small) {
      flex-wrap: nowrap;
    }
    @include breakpoint-min(large) {
      margin-left: 74px;
    }

    .block-menu-block {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      @include breakpoint-max(small) {
        display: block;
        width: 100%;
      }

      h2 {
        margin-bottom: 0;
        padding-bottom: 20px;
        @include breakpoint-max(small) {
          float: left;
        }

        a {
          font-weight: 600;
          text-decoration: none;
        }

        &:after {
          content: "|";
          font-size: em(42px, 32px);
          font-weight: 300;
          padding: 0 30px;
          vertical-align: top;
          @include breakpoint-max(small) {
            content: none;
          }
        }
      }

      ul {
        margin-bottom: 0;

        li {
          font-weight: 600;
          display: inline;
          float: left;
          list-style: none;

          &.collapsed,
          &.expanded,
          &.leaf {
            padding: 10px 20px 0 0;
          }

          &:first-child {
            margin-left: 0;
            @include breakpoint-max(small) {
              float: right;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          &:nth-child(2) {
            @include breakpoint-max(small) {
              display: none;
            }
          }

          &.first.leaf a {
            &:after {
              content: "";
              background-image: url("../img/soe_chevron_down_black.svg");
              background-repeat: no-repeat;
              background-size: 18px 11px;
              background-position-y: center;
              padding-left: 18px;
              margin-left: 12px;
              @include breakpoint-max(small) {
                content: "\00a0 \00a0 \00a0 |";
              }
            }

            &:hover:after {
              background-image: url("../img/soe_chevron_down_gray-orange.svg");
            }

            &:focus:after {
              background-image: url("../img/soe_chevron_up_gray-orange.svg");
            }
          }

          a {
            color: $primary-color;
            padding-bottom: 20px;
            border-bottom: 2px solid transparent;
            font-weight: 600;

            &:focus,
            &:hover {
              color: $gray-orange;
              background-color: transparent;
              border-bottom-color: $gray-orange;
            }

            &.active {
              color: $gray-orange;
              border-bottom-color: $gray-orange;
            }
          }
        }
      }
    }

    .block-stanford-search-api {
      .form-item-keywords {
        margin-top: 1.1em;
      }
    }
  }
}

// MEGA MENU NAVIGATION

#digital-magazine-megamenu {
  .container {
    background-color: $dm-megamenu-bkgd;

    .region-digital-magazine-megamenu {
      .view-content {
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        .views-row {
          width: calc(100% * (1/4) - 2%);
          margin-right: 2%;
          @include breakpoint-max(small) {
            width: calc(100% * (1/2) - 2%);
          }
          @include breakpoint-max(x-small) {
            width: 100%;
          }

          a {
            color: $white;
            font-size: em(20px);
          }
        }
      }
    }
  }
}

#main-menu {
  .navbar {
    margin-bottom: 0;

    .nav {
      > li > a {
        .node-type-stanford-collection &,
        .page-taxonomy-term &,
        .node-type-stanford-magazine-issue &,
        .page-magazine &,
        .page-magazine-all,
        .node-type-stanford-magazine-article & {
          padding-bottom: 15px;

          @include breakpoint-max(large) {
            padding-bottom: 9px;
          }
        }
      }
    }
  }
}
