@charset "UTF-8";

//
// DIGITAL MAGAZINE BRAND BAR AND HEADER
//

.node-type-stanford-collection,
.node-type-stanford-magazine-article,
.node-type-stanford-magazine-issue,
.page-magazine,
.page-magazine-all,
.page-taxonomy-term {
  a {
    font-weight: 400;
  }

  #header {
    #logo {
      img {
        max-width: 90px;

        @include breakpoint-max(large) {
          max-width: 86px;
        }
      }

      &.logo-mobile {
        @include breakpoint-max(x-small) {
          padding: 0 5px 0 0;
        }

        img {
          @include breakpoint-max(large) {
            max-width: 86px;
          }
        }
      }
    }

    &.header {
      background: $white;
      min-height: 45px;
      padding: 22px 0 0;

      @include breakpoint-max(large) {
        min-height: 29px;
        padding: 16px 0 0;
      }

      @include breakpoint-max(small) {
        min-height: 32px;
        padding: 4px 0 0;
      }

      @include breakpoint-max(x-small) {
        min-height: 26px;
      }

      @include breakpoint-max(xx-small) {
        min-height: auto;
      }

      @include breakpoint-max(xxx-small) {
        min-height: 30px;
      }

      @media (max-width: 380px) and (max-height: 479px) {
        min-height: 26px;
      }

      #site-title-first-line {
        @include breakpoint-max(small) {
          line-height: 1.1em;
        }
      }

      #site-title-first-line.site-title-uppercase a {
        @include breakpoint-max(x-small) {
          font-size: 18px;
          margin-bottom: -5px;
        }

        @include breakpoint-max(xx-small) {
          margin-bottom: -3px;
        }

        @include breakpoint-max(xxx-small) {
          font-size: 16px;
          margin-bottom: -4px;
        }
      }
    }

    #site-title-first-line.site-title-uppercase {
      font-size: 18px;
      margin-bottom: -3px;
    }

    #name-and-slogan.with-logo {
      @include breakpoint-max(x-small) {
        padding: 0 0 0 5px;
      }
    }
  }
}
