@charset "UTF-8";

//
// IMAGES
//

// GENERAL

.main {
  .border-simple img,
  .border-simple-nowidth img {
    padding: 0;
  }

  .border-shadow img {
    box-shadow: none;
  }
}

.postcard-left > div:first-child img,
.postcard-left-wrap > div:first-child img {
  margin-top: 7px;
}

.node-stanford-landing-page.large-landscape .field-name-field-landing-page-item > .field-items > .field-item img {
  @media (max-width: 550px) {
    width: 100%;
    margin-right: 0;
  }
}

.node .group_s_postcard_image {
  @media (max-width: 400px) {
    max-width: 100%;
    float: none;
  }
}

// BOTTOM BANNER

#fullwidth-bottom {
  .view-stanford-page-banner-caption {
    .banner-bottom {
      position: relative;
    }

    img {
      width: 100%;
    }

    div.more-link {
      padding: 26px 32px 30px;
      margin: 0;
    }

    .more-link a {
      color: black;
      font-family: $roboto-slab;
      font-size: 32px;
      font-weight: 800;
      line-height: 43px;

      &:after {
        content: url("../img/soe_banner_arrow_right.png");
        vertical-align: -6%;
        padding-left: 20px;
      }
    }

    .banner-caption {
      position: absolute;
      width: 80%;
      @media (max-width: 767px) {
        position: inherit;
        width: 100%;
      }

      &.banner-right {
        right: 0;
        text-align: right;

        &.banner-bottom {
          bottom: 100px;
          @media (max-width: 979px) {
            bottom: 55px;
          }
        }

        &.banner-top {
          top: 100px;
          @media (max-width: 979px) {
            top: 55px;
          }
        }
      }

      &.banner-yellow div.more-link {
        background: $yellow;
      }

      &.banner-turquoise div.more-link {
        background: $turquoise;
      }

      &.banner-pink div.more-link {
        background: $pink;
      }

    }
  }
}
