@charset "UTF-8";

//
// BRAND BAR AND HEADER
//

a {
  font-weight: 400;
}

.node-type-stanford-magazine-article {
  #header {
    &.header {
      background: $white;
      padding: 30px 0 0;
      @include breakpoint-max(xx-small) {
        min-height: 45px;
        padding: 20px 0 0;
      }

      #site-title-first-line.site-title-uppercase a {
        @include breakpoint-max(x-small) {
          font-size: 28px !important;
          margin-bottom: -5px;
        }
        @include breakpoint-max(xx-small) {
          font-size: 18px;
          margin-bottom: -3px;
        }
        @include breakpoint-max(xxx-small) {
          font-size: 16px;
          margin-bottom: -4px;
        }
      }
    }
  }
}

#global-header {
  background-color: $brand-bright;

  .dm-global-header & {
    position: absolute;
    clip: rect(0 9999px 2px 0);
    clip-path: inset(0 0 55px 0);
    width: 100%;
    @include breakpoint-max(small) {
      clip-path: inset(0 0 60px 0);
    }
  }

  .container {
    padding: 13px 0;
    margin-bottom: 0;
  }
}

#header {
  #logo {
    &.logo-mobile img,
    img {
      max-width: 160px;
      @include breakpoint-max(x-small) {
        max-width: 130px;
      }
      @include breakpoint-max(xx-small) {
        max-width: 90px;
      }
      @media (max-width: 380px) {
        max-width: 80px;
      }
    }

    &.logo-mobile {
      padding: 0 5px 0 0;
      @include breakpoint-max(x-small) {
        display: table-cell;
        padding: 0 10px 0 0;
        border-right: 1px solid !important;

        a {
          background-size: 120px 26.66px;
        }
      }
      @include breakpoint-max(xx-small) {
        padding: 0 5px 0 0;
      }

    }
  }

  #name-and-slogan.with-logo {
    padding: 0 0 0 5px;
    @include breakpoint-max(x-small) {
      display: table-cell;
      padding: 0 0 0 10px;
    }
    @include breakpoint-max(xx-small) {
      padding: 0 0 0 5px;
    }
  }

  &.header {
    background: $white;
    padding: 30px 0 0;
    @include breakpoint-max(xx-small) {
      min-height: 45px;
      padding: 20px 0 0;
    }

    #site-title-first-line.site-title-uppercase {
      font-size: 34px;
      @include breakpoint-max(x-small) {
        font-size: 28px;
        margin-bottom: -5px;
      }
      @include breakpoint-max(xx-small) {
        font-size: 18px;
        margin-bottom: -3px;
      }
      @include breakpoint-max(xxx-small) {
        font-size: 16px;
        margin-bottom: -4px;
      }
    }
  }
}

.dm-global-header {
  #site-title-first-line.site-title-uppercase,
  #site-title-first-line.site-title-uppercase a {
      font-size: 18px;
  }
}
