@charset "UTF-8";

//
// DIGITAL MAGAZINE SEARCH
//

#digital-magazine-menu {
  .block-stanford-search-api {
    @include breakpoint(medium) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    @include breakpoint(small) {
      display: block;
      width: auto;
    }

    h2,
    input.btn-search {
      display: none;
    }

    input[type="text"] {
      font-family: $primary-font;
      font-size: em(22px, 22px);
      color: $primary-color;
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 5px 0 0 40px;
      background: url("../img/soe_mag_glass_black.svg") no-repeat -45% 70%;
      background-size: 60% 60%;

      .not-logged-in & {
        margin-right: -15px;
      }
    }

    .input-medium {
      width: 175px;
      @include breakpoint(medium) {
        width: 115px;
      }
      @include breakpoint(small) {
        width: 175px;
      }
    }

    input:-ms-input-placeholder {
      color: $primary-color;
    }

    input::-moz-placeholder {
      color: $primary-color;
    }

    input::-webkit-input-placeholder {
      color: $primary-color;
    }
  }
}
