@charset "UTF-8";

//
// STANFORD PAGE
// FOR NODE DISPLAY AND VIEWS
//

// NODE DISPLAY

.node-type-stanford-page {
  @include breakpoint-max(small) {
    #block-ds-extras-stanford-page-title {
      margin-bottom: 0;
    }
  }

  #block-views-stanford-page-top-banner-block {
    .banner-image {
      position: relative;
      display: inline;
    }

    .banner-overlay > div:first-child {
      margin-top: -8%;
      max-height: 283px;
      max-width: 50%;

      @include breakpoint-max(x-large) {
        margin-top: -12%;

        p {
          font-size: em(16px);
        }
      }

      @include breakpoint-max(large) {
        p {
          font-size: em(16px);
          line-height: 1.3em;
          margin-bottom: 20px;
        }
      }

      @include breakpoint-max(medium) {
        max-height: 226px;
        margin-top: -6%;

        p {
          font-size: em(14px);
          line-height: 1.2em;
          margin-bottom: 15px;
        }
      }
    }

    .banner-overlay {
      margin-left: 30px;
      margin-right: auto;
      width: auto;
      height: auto;

      @include breakpoint-max(small) {
        display: none;
      }

      &.top-banner-right {
        > div {
          right: 0;
          width: 55%;
        }
      }

      // Switch up the colors
      &.top-banner-turquoise a {
        text-decoration-color: $orange;
      }

      &.top-banner-orange a {
        text-decoration-color: $pink;
      }

      &.top-banner-pink a {
        text-decoration-color: $turquoise;
      }

      > div {
        background: $white;
        @include box-sizing;
        @include box-shadow;
        padding: 0 30px 22px;
        width: 50%;

        > div:first-child {
          padding-top: 20px;
          border-width: 6px;
          border-top-style: solid;
          margin-right: 72%;

          &.top-banner-turquoise {
            border-top-color: $turquoise;
          }

          &.top-banner-orange {
            border-top-color: $orange;
          }

          &.top-banner-pink {
            border-top-color: $pink;
          }
        }
      }
    }

    .page-feat-caption-container {
      color: $primary-color;

      p {
        font-size: em(18px);
        line-height: 1.3em;
        margin-bottom: 20px;
      }
      p:last-child {
        margin-bottom: 0px;
      }
      h2 {
        font-size: em(26px);
        letter-spacing: 0;
      }

      a {
        color: $primary-color;
        text-decoration: underline;
      }
      a:hover {
        text-decoration-color: $primary-color;
      }
      a.btn  {
        text-decoration: none;

        @include breakpoint-max(medium) {
          font-size: em(16px);
        }
      }
      .btn a:hover,
      a.btn:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
}
