@charset "UTF-8";

//
// PEOPLE SPOTLIGHT
// FOR NODE DISPLAY AND VIEWS
//

// NODE DISPLAY

.node-type-stanford-people-spotlight {
  .main {
    padding-top: 0;
  }

  .group-s-ppl-spot-container {
    width: 65%;
    margin: 0 auto;
    @include breakpoint-max(x-small) {
      width: 100%;
    }

    .field-name-field-s-ppl-spot-date {
      font-size: em(18px);
      color: $gray-orange;
      font-weight: 100;
      font-style: italic;
      display: flex;
      justify-content: flex-end;

      .field-item {
        &:before {
          content: "Story originally published\00a0";
        }
      }
    }

    .field-name-field-s-ppl-spot-quote {
      .field-item:before {
        content: open-quote;
      }
    }

    .field-name-body {
      p:last-child:after {
        content: close-quote;
      }
    }

    .field-name-field-s-ppl-spot-photo-credit {
      font-size: em(18px);
      color: $gray-orange;
      font-weight: 100;
      border-top: 1px solid $gray;
      padding-top: 5px;
      margin-top: 40px;

      .field-item {
        &:before {
          content: "Photo credit: \00a0";
        }
      }
    }
  }
}

// HORIZONTAL CARD VIEW

.view-stanford-people-spotlight-h-card {
  .spotlight-container {
    background: $white;
    @include box-shadow;

    .spotlight-all-content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
      margin: 0 auto;
      padding: 50px 0;
      @include breakpoint-max(medium) {
        width: 100%;
        display: block;
      }
    }

    .spotlight-img {
      margin-right: 40px;
      flex-shrink: .5;

      @include breakpoint-max(medium) {
        margin-left: 40px;
      }

      @include breakpoint-max(medium) {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }

      img {
        border-radius: 50%;
        border-width: 5px;
        border-style: solid;
      }

      &.spotlight-img-color-orange img {
        border-color: $orange;
      }

      &.spotlight-img-color-turquoise img {
        border-color: $turquoise;
      }

      &.spotlight-img-color-pink img {
        border-color: $pink;
      }
    }

    .spotlight-info-container {
      @include breakpoint-max(medium) {
        padding: 30px;
      }

      .spotlight-name {
        &[class*="spotlight-name-color-"] a {
          text-decoration: underline;
          @include td-skip;

          &:focus,
          &:hover {
            @include td-color($primary-color);
          }
        }

        h2 {
          margin: 0 0 20px;
          @include breakpoint-max(medium) {
            margin-top: 15px;
          }
        }

        &.spotlight-name-color-orange a {
          @include td-color($orange);
        }

        &.spotlight-name-color-turquoise a {
          @include td-color($turquoise);
        }

        &.spotlight-name-color-pink a {
          @include td-color($pink);
        }
      }

      .spotlight-degree p,
      .spotlight-title p {
        font-size: em(18px);
        line-height: 1.3em;
        margin: 0;
      }

      .spotlight-department p {
        font-size: em(18px);
        line-height: 1.3em;
        margin-top: 0;
      }

      .spotlight-quote {
        font-family: $roboto-slab;
        font-size: em(24px);
        font-weight: 600;

        p:before {
          content: open-quote;
        }

        p:after {
          content: close-quote;
        }

        p {
          overflow: hidden;
        }
      }
    }
  }
}

// VERTICAL CARD VIEW

.view-stanford-people-spot-1-vertical-span6-card,
.view-stanford-people-spotlight-1-v-span4-card,
.view-stanford-ppl-spot-2-v-span4-card,
.view-stanford-ppl-spot-2-v-span6-card,
.view-stanford-ppl-spot-3-v-card {
  .view-content {
    clear: both;
  }

  .view-filters {
    float: right;
    clear: both;
    select {
      border: $dark-gray 1px solid;
      @include border-radius;
      option {
        font-family: $primary-font;
        font-weight: 400;
        font-size: 18px;
        color: $primary-color;
      }
    }
  }
  &.views-grid-three .views-row {
    margin-bottom: 80px;
    @media (max-width: 1200px) {
      width: 46.1%;
    }
    // Chrome doesn't seem to pick up the 450px
    @media (max-width: 580px) {
      width: 96.2%;
    }
  }

  .spotlight-container {
    background: $white;
    @include box-shadow;

    .spotlight-all-content-container {
      margin: 0 auto;
      padding: 36px 40px 50px;
    }

    .spotlight-img {
      text-align: center;
      @media (max-width: 650px) {
        margin-right: 0;
      }

      img {
        border-radius: 50%;
        border-width: 5px;
        border-style: solid;
      }

      &.spotlight-img-color-orange img {
        border-color: $orange;
      }

      &.spotlight-img-color-turquoise img {
        border-color: $turquoise;
      }

      &.spotlight-img-color-pink img {
        border-color: $pink;
      }
    }

    .spotlight-info-container {
      .spotlight-name {
        &[class*="spotlight-name-color-"] a {
          text-decoration: underline;
          @include td-skip;

          &:focus,
          &:hover {
            @include td-color($primary-color);
          }
        }

        h2 {
          font-size: em(26px);
          margin: 25px 0 10px;
        }

        &.spotlight-name-color-orange a {
          @include td-color($orange);
        }

        &.spotlight-name-color-turquoise a {
          @include td-color($turquoise);
        }

        &.spotlight-name-color-pink a {
          @include td-color($pink);
        }
      }

      .spotlight-degree p,
      .spotlight-title p {
        font-size: em(18px);
        line-height: 1.3em;
        margin: 0;
      }

      .spotlight-department p {
        font-size: em(18px);
        line-height: 1.3em;
        margin-top: 0;
      }

      .spotlight-quote {
        font-family: $roboto-slab;
        font-size: em(24px);
        font-weight: 600;

        p:before {
          content: open-quote;
        }

        p:after {
          content: close-quote;
        }
      }
    }
  }
}


// FULL WIDTH BANNER VIEW

.view-stanford-ppl-spot-3-v-card.views-grid-three .view-display-id-attachment_first_spot,
.view-stanford-people-spotlight-fw-banner,
.view-stanford-people-spotlight-fw-banner-no-quote,
.view-stanford-ppl-spot-fw-banner-quote {
  .spotlight-container {
    .front & {
      background: $white;
    }

    .spotlight-all-content-container {
      display: flex;
      align-items: center;
      width: 50%;
      margin: 0 auto;
      padding: 70px 0 0;
      @media (max-width: 1900px) {
        width: 65%;
      }
      @media (max-width: 1400px) {
        width: 85%;
      }
      @include breakpoint-max(large) {
        width: 90%;
      }
      @include breakpoint-max(small) {
        display: flex;
        text-align: left;
        width: 90%;
        padding: 50px 0 0;
      }
      @media (max-width: 500px) {
        display: block;
        text-align: center;
        width: 100%;
      }

      .front & {
        padding: 70px 0;
      }
    }

    .spotlight-img {
      margin-right: 40px;
      flex-shrink: 0;
      @include breakpoint-max(small) {
        margin-right: 0;
        width: 286px;
      }
      @include breakpoint-max(smaller) {
        width: 200px;
      }
      @media (max-width: 500px) {
        flex-shrink: 0;
        margin: 0 auto;
        width: 60%;
      }

      img {
        border-radius: 50%;
        border-width: 8px;
        border-style: solid;
        @include breakpoint-max(small) {
          max-width: 82%;
        }
        @media (max-width: 500px) {
          border-width: 6px;
        }
      }

      &.spotlight-img-color-orange img {
        border-color: $orange;
      }

      &.spotlight-img-color-turquoise img {
        border-color: $turquoise;
      }

      &.spotlight-img-color-pink img {
        border-color: $pink;
      }
    }

    .spotlight-info-container {
      .spotlight-name {
        &[class*="spotlight-name-color-"] a {
          text-decoration: underline;
          @include td-skip;

          &:focus,
          &:hover {
            @include td-color($primary-color);
          }
        }

        h2 {
          font-size: em(48px);
          margin: 0 0 20px;
          @include breakpoint-max(small) {
            margin-top: 15px;
            font-size: em(34px);
          }
          @include breakpoint-max(smaller) {
            font-size: em(28px);
          }
          @include breakpoint-max(x-small) {
            margin-bottom: 4px;
          }
        }

        &.spotlight-name-color-orange a {
          @include td-color($orange);
        }

        &.spotlight-name-color-turquoise a {
          @include td-color($turquoise);
        }

        &.spotlight-name-color-pink a {
          @include td-color($pink);
        }
      }

      .spotlight-degree p,
      .spotlight-department p,
      .spotlight-title p {
        font-size: em(24px);
        margin: 0;
        @include breakpoint-max(small) {
          font-size: em(20px);
        }
      }

      .spotlight-quote {
        font-family: $roboto-slab;
        font-size: em(28px);
        font-weight: 600;
        line-height: 1.3em;
        margin-top: 20px;

        @include breakpoint-max(smaller) {
          font-size: em(24px);
        }
        @media (max-width: 500px) {
          width: 80%;
          margin: 20px auto;
        }
        @include breakpoint-max(x-small) {
          font-size: em(20px);
        }

        p:before {
          content: open-quote;
        }

        p:after {
          content: close-quote;
        }

      }
    }
  }
}


// SPOTLIGHT PAGE

.view-stanford-ppl-spot-3-v-card.views-grid-three .view-display-id-attachment_first_spot {
  .view-content .views-row-1.views-row {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 70px 0 0;
    @media (max-width: 1900px) {
      width: 100%;
    }
    .spotlight-all-content-container {
      @media (max-width: 1900px) {
        width: 100%;
      }
    }
    @media (max-width: 1400px) {
      width: 95%;
    }
    @include breakpoint-max(large) {
      width: 100%;
    }
    @include breakpoint-max(small) {
      display: flex;
      text-align: left;
      width: 100%;
      padding: 50px 0 0;
    }
    @media (max-width: 500px) {
      display: block;
      text-align: center;
      width: 100%;
    }

    .front & {
      padding: 70px 0;
    }
  }

  .spotlight-container {
    background: $off-white;
    box-shadow: none;
  }
 :nth-child(2) {
    order: inherit;
  }
}

.view-stanford-ppl-spot-3-v-card,
.view-stanford-ppl-spot-3-card-and-banner {
  display: flex;
  flex-direction: column;
}
.view-stanford-ppl-spot-3-v-card :nth-child(1) {
  order: 2;
}
.view-stanford-ppl-spot-3-v-card :nth-child(2) {
  order: 1;
}
.view-stanford-ppl-spot-3-v-card :nth-child(3) {
  order: 3;
}
.view-stanford-ppl-spot-3-v-card :nth-child(4) {
  order: 4;
}

.view-stanford-ppl-spot-3-v-card.view-display-id-block_related {
  :nth-child(1) {
    order: 1;
  }
  :nth-child(2) {
    order: 2;
  }
  :nth-child(3) {
    order: 3;
  }
  :nth-child(4) {
    order: 4;
  }
  .view-footer {
    text-align: center;
  }
}


  // BUTTON TO MORE STORIES

.spotlight-button {
  text-align: center;
  margin-top: 30px;

  &[class*="spotlight-img-color-"] a {
    color: $black;

    &:focus,
    &:hover {
      color: $white;
      background: $primary-color;
    }
  }

  &.spotlight-img-color-orange a {
    background: $orange;

    .front & {
      color: $white;
      background: $brand-bright;

      &:focus,
      &:hover {
        background: $primary-color;
      }
    }
  }

  &.spotlight-img-color-turquoise a {
    background: $turquoise;

    .front & {
      color: $white;
      background: $brand-bright;

      &:focus,
      &:hover {
        background: $primary-color;
      }
    }
  }

  &.spotlight-img-color-pink a {
    background: $pink;

    .front & {
      color: $white;
      background: $brand-bright;

      &:focus,
      &:hover {
        background: $primary-color;
      }
    }
  }

  .view-stanford-people-spot-1-vertical-span6-card &,
  .view-stanford-people-spotlight-1-v-span4-card &,
  .view-stanford-ppl-spot-2-v-span4-card &,
  .view-stanford-ppl-spot-2-v-span6-card & {
    clear: both;
  }

  #content-body .content .view-stanford-people-spot-1-vertical-span6-card & a.btn,
  #content-body .content .view-stanford-people-spotlight-1-v-span4-card & a.btn,
  .view-stanford-people-spot-1-vertical-span6-card & a,
  .view-stanford-people-spotlight-1-v-span4-card & a {
    display: block;
    width: auto;
  }

  #content-body .content .view-stanford-ppl-spot-2-v-span4-card & a.btn,
  #content-body .content .view-stanford-ppl-spot-2-v-span6-card & a.btn,
  .view-stanford-ppl-spot-2-v-span4-card & a,
  .view-stanford-ppl-spot-2-v-span6-card & a {
    display: block;
    width: 30%;
    margin: 0 auto;
    @include breakpoint-max(small) {
      width: auto;
    }
  }
}

.main {
  &.spotlight {
    #content-head {
      margin-bottom: 0;
    }

    #content-body {
      #views-exposed-form-stanford-ppl-spot-3-v-card-page-1 {
        .views-exposed-form {
          #edit-field-s-ppl-spot-affiliation-tid-wrapper {
            padding-right: 20px;
          }

          .views-exposed-widget {
            padding-right: 0;

            @include breakpoint-max(large) {
              padding-right: 1em;
            }

            @include breakpoint-max(medium) {
              padding-right: 0.8em;
            }

            @include breakpoint-max(small) {
              padding-right: 0.7em;
            }

            @include breakpoint-max(smaller) {
              padding-right: 0.5em;
            }
          }
        }
      }

      .view-stanford-ppl-spot-3-v-card {
        .views-row-first {
          padding-top: 0;

          .spotlight-all-content-container {
            margin-bottom: 0;
            padding-top: 36px;
          }
        }
      }

      .attachment .view-stanford-ppl-spot-3-v-card .views-row-first .spotlight-all-content-container {
        margin-bottom: 60px;
        padding-top: 0;
      }
    }
  }
}
#block-views-005720ec0398a13d1a26b9de441e83ca > h2 {
  text-align: center;
  padding-bottom: 30px;
}
