@charset "UTF-8";
@import '../functions/soe_unitconversion';

//
// GLOBAL
//

html {
  font-size: 62.5%;
}

body {
  font-size: em($base-font-size, $root-font-size);
  @include breakpoint-max(medium) {
    font-size: 19px;
    font-size: em(19px, $root-font-size);
  }
  @include breakpoint-max(small) {
    font-size: 18px;
    font-size: em(18px, $root-font-size);
  }
  @include breakpoint-max(x-small) {
    font-size: 17px;
    font-size: em(17px, $root-font-size);
  }
  font-weight: 400;
  line-height: 1.55em;
}

h1 {
  font-family: $roboto-slab;
  font-size: em(56px);
  font-weight: 600;
  letter-spacing: 0;
  margin: -9px 0 10px;
  @include breakpoint-max(medium) {
    font-size: em(46px);
  }
  @include breakpoint-max(small) {
    font-size: em(40px);
  }
  @include breakpoint-max(x-small) {
    font-size: em(36px);
  }
}

h2 {
  font-family: $roboto-slab;
  font-size: em(32px);
  font-weight: 600;
  letter-spacing: 0.02em;
  margin: 1.8em 0 0.5em;
}

h3 {
  font-family: $roboto-slab;
  font-size: em(24px);
  font-weight: 600;
  margin: 1.6em 0 0.3em;
}

h4 {
  font-family: $primary-font;
  font-size: em(22px);
  font-weight: 600;
  margin: 1em 0 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: underline;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

iframe {
  margin: 20px 0;
}

.btn a,
a.btn {
  border-radius: 0;
  @include box-shadow;
  margin: 0 0 26px;
  padding: 0.7em 1.4em 0.9em;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  background: $brand-bright;

  &:focus,
  &:hover {
    color: $white;
  }

  #content-body .content & {
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-bottom: 30px;
    text-decoration: none;
    @include breakpoint-max(x-small) {
      width: 65%;
    }
  }
}

.normal-link a,
a {
  color: $brand-bright;
}

div.more-link {
  font-size: em(20px);
}

.more-link a,
a.more-link {
  font-size: em(18px);
  color: $brand-bright;

  &:after {
    content: " ›";
  }
}

.normal-link h2,
.normal-link h3,
h2.normal-link,
h3.normal-link {
  font-size: 1.1em;
}

li {
  line-height: 1.4em;
  margin-bottom: 16px;
}

.content {
  ul li {
    list-style-type: disc;

    &:last-child {
      margin-bottom: 1.5em;
    }
  }

  ol li {
    &:last-child {
      margin-bottom: 2em;
    }
  }

  ul.pager {
    li {
      a {
        border: 1px solid $gray;
        background: $white;
        margin-bottom: 12px;
        margin-right: 4px;
        font-size: 0.9em;

        &:focus,
        &:hover {
          margin-right: 4px;
          font-weight: 300;
        }
      }

      &.pager-current {
        margin-right: 4px;
        font-weight: 300;
      }
    }

    &.pager-load-more {
      margin-bottom: 100px;
      @include breakpoint-max(small) {
        margin-bottom: 50px;
      }

      a {
        color: $white;
        font-size: em(20px);
        text-transform: capitalize;
        background-color: $brand-bright;
        border-radius: 0;
        border: none;
        @include box-shadow;
        padding: 0.7em 4em;
        margin-bottom: 0;

        &:focus,
        &:hover {
          color: $white;
          background-color: $primary-color;
          font-weight: 400;
        }
      }
    }
  }
}

td,
th {
  padding: 0.8em;
  line-height: 1.3em;
  font-size: em(20px);
  border: 1px solid $gray;
  border-right: none;
  border-left: none;
}

th {
  background: $light-gray;
}

.well {
  background: $white;
  @include box-shadow;

  h2 {
    font-size: em(32px);
    font-weight: 600;
  }

  p {
    font-size: em(20px);
    font-weight: 400;
    line-height: 1.5em;
  }
}

.descriptor {
  font-size: em(18px);
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-transform: none;
  margin-bottom: 4px;
}

.postcard-left {
  margin-top: 6px;
}

.views-row-lines .views-row {
  border-color: $gray;
}

#wrap {
  background: $off-white;
}

.main {
  padding: 80px 0 50px;
  background: $off-white;
  @include breakpoint-max(small) {
    padding-top: 40px;
  }

  p {
    margin: 0 0 1.5em;

    a {
      text-decoration: underline;

      &.btn {
        text-decoration: none;
      }
    }
  }

  .block {
    margin-bottom: 50px;
  }
}

.container {
  @include breakpoint-max(small) {
    margin-bottom: 10px;

    #fullwidth-bottom & {
      margin-bottom: 0;
    }
  }
}

#content.span9 {
  @include breakpoint-min(large) {
    width: 740px;
    margin-left: 80px;
  }
}

/*** CJW BODY - MORE SPACE FROM LAST CHILD TO TOP OF BLOCKS AFTER WYSIWYG ***/
.content-body p:last-child {
  margin-bottom: 2.5em;
}

.region-sidebar-second {
  margin-top: 34px;
}