@charset "UTF-8";

//
// DIGITAL MAGAZINE ISSUE
// FOR VIEWS AND NODE DISPLAY
//

.view-stanford-magazine-article-issue- {
  text-align: center;

  .mag-article-issue-container {
    position: relative;

    .mag-article-issue-image-container {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 160px;
        right: 160px;
        height: 100%;
        @include gradient-vertical;
        @include breakpoint(large) {
          left: 45px;
          right: 45px;
        }
        @include breakpoint(medium) {
          left: 0;
          right: 0;
        }
      }
    }

    [class*="mag-issue-color-"] {
      .mag-article-issue-content-container {
        position: absolute;
        bottom: 50%;
        width: 100%;

        > a {
          display: inline-flex;
          color: $primary-color;
          font-weight: 800;
          font-size: em(32px);
          padding: 10px;
        }

        .mag-article-issue-title {
          &:after {
            content: "|";
            padding: 0 15px;
          }
        }
      }
    }

    .mag-issue-color-orange a {
      background: $orange;
    }

    .mag-issue-color-turquoise a {
      background: $turquoise;
    }

    .mag-issue-color-pink a {
      background: $pink;
    }
  }
}
