@charset "UTF-8";

//
// BEANS
//

// CALL TO ACTION BEANS

.bean-stanford-call-to-action {
  #content-body-bottom & {
    @include breakpoint-min(small) {
      margin-bottom: 100px;
    }
  }

  a.group-s-cta-link:hover img {
    @include transform (scale(1.03));
  }

  .field-name-field-s-cta-image {
    overflow: hidden;

    img {
      @include transition;
    }
  }

  .group-s-cta-title-style {
    padding: 18px 0 22px;

    .turquoise & {
      background: $turquoise;
    }

    .orange & {
      background: $orange;
    }

    .pink & {
      background: $pink;
    }

    h2 {
      color: $black;
      font-size: em(22px);
      font-family: $primary-font;
      font-weight: 400;
    }
  }
}

.content-body [id*="block-bean-sitewide-facebook-cta-block"].block[class*="span"],
.content-body [id*="block-bean-sitewide-instagram-cta-block"].block[class*="span"],
.content-body [id*="block-bean-sitewide-twitter-cta-block"].block[class*="span"] {
  @include breakpoint-min(large) {
    width: 20%;
  }
  @include breakpoint-max(small) {
    width: 50%;
    margin: 0 25% 20px;
  }

  .field-name-field-s-cta-icon {
    font-size: em(50px);
  }
}

[id*="block-bean-sitewide-instagram-cta-block"].block[class*="span"] {
  @include breakpoint-min(large) {
    margin-left: 17.25%;
  }
}

[id*="block-bean-sitewide-twitter-cta-block"].block[class*="span"] {
  @include breakpoint-min(large) {
    margin-right: 17.25%;
  }
}

// POSTCARD LINKED BEANS

.bean-stanford-postcard-linked {
  .postcard-linked-container {
    display: flex;
    background: $white;
    padding: 40px;
    @include box-shadow;
    @include breakpoint-max(small) {
      display: block;
      padding: 0;
    }

    a.postcard-linked-img-container {
      flex-shrink: 0;

      /*** SPAN 12 BEAN RESPONSIVE ***/
      @include breakpoint-max(medium) {
          flex-shrink: .9;
      }

      margin-right: 30px;
      @include breakpoint-max(small) {
        margin-right: 0;
      }

      &:hover img {
        @include transform (scale(1.03));
      }

      .postcard-linked-img {
        position: relative;

        .field-name-field-s-post-link-image {
          overflow: hidden;

          img {
            @include transition;
            @include breakpoint-max(small) {
              width: 100%;
            }
          }
        }

        .postcard-linked-arrow {
          position: absolute;
          bottom: 20px;
          right: 20px;
          width: 40px;
          height: 40px;

          img {
            width: 26px;
            height: auto;
            vertical-align: -9px;
            padding: 3px 8px;
            @include breakpoint-max(small) {
              vertical-align: -12px;
            }
            @include breakpoint-max(x-small) {
              vertical-align: -14px;
            }
          }
        }
      }
    }

    .postcard-linked-content-container {
      width: 100%;
      @include breakpoint-max(small) {
        width: auto;
        padding: 30px;
      }

      .field-name-field-s-post-link-body {
        font-size: em(18px);
        line-height: 1.3em;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .postcard-linked-title {
        margin-bottom: 1em;

        a {
          color: $primary-color;
          font-family: $roboto-slab;
          font-size: em(28px);
          font-weight: 600;
          letter-spacing: 0.02em;
          @include td-skip;
          text-decoration: underline;
          @include td-color($turquoise);
          @include breakpoint-max(small) {
            margin-top: 20px;
          }

          &:focus,
          &:hover {
            @include td-color($primary-color);
          }
        }
      }

      /*** STANDARDIZE PADDING INSIDE POSTCARD LINKED BLOCKS, WILL NEED TO REPEAT FOR POSTCARD BLOCKS**/
      .postcard-linked-body p:last-child{
        margin-bottom: .8em;
      }

      .postcard-linked-body p {
        margin-bottom: 1em;
      }
    }

    a.btn {
      text-decoration: none;
      margin-bottom: 0;
    }
  }

  &.postcard-linked-arrow-color-orange .postcard-linked-arrow {
    background: $orange;
  }

  &.postcard-linked-arrow-color-turquoise .postcard-linked-arrow {
    background: $turquoise;
  }

  &.postcard-linked-arrow-color-pink .postcard-linked-arrow {
    background: $pink;
  }

  .span1 &,
  .span2 &,
  .span3 &,
  .span4 &,
  .span5 &,
  .span6 &,
  .span7 & {
    .postcard-linked-container {
      display: block;
      padding: 0;

      .postcard-linked-img-container {
        margin-right: 0;
      }

      .postcard-linked-img {
        .field-name-field-s-post-link-image img {
          width: 100%;
        }
      }

      .postcard-linked-content-container {
        width: auto;
        padding: 30px;
      }
    }
  }
}
