@charset "UTF-8";
//
// CALENDAR
//

.calendar-calendar {
  .mini td,
  th.days {
    background: $light-gray;
  }

  .mini td.has-events,
  table.mini td.empty {
    background: $gray;
  }
}

.date-stacked {
  margin-top: 7px;
  background: $primary-color;
  padding: 8px 12px 10px;

  .date-month {
    font-weight: 100;
    line-height: 16px;
  }

  .date-day {
    font-size: em(22px);
    font-family: $roboto-slab;
    font-weight: 400;
  }
}

.view-stanford-events-calendar .view-header .date-nav-wrapper {
  background: $white;
}