@charset "UTF-8";
//
// EVENTS
//
// EVENT NODE
.node-type-stanford-event {
  .date-display-single {
    font-weight: 600;
  }

  h1 {
    font-size: 2.4em;

    @include breakpoint-min(smaller) {
      width: 70%;
    }
  }

  .main #block-system-main {
    @include breakpoint-min(smaller) {
      margin: 0 auto 1em;
      width: 70%;
    }
  }

  .main #block-system-main.block {
    margin-bottom: 0;
  }

  .descriptor {
    font-size: 1.1em;
  }
}
// EVENTS VIEW
.page-events .date-display-single {
  font-weight: 600;
}

.view-stanford-events-views {
  margin-top: 12px;
}
// HOMEPAGE FEATURED EVENT VIEW
.view-stanford-event-featured {
  &.vertical-event {
    .front & {
      @include breakpoint-max(small) {
        margin: 0 auto;
      }
    }

    .feat-events-container {
      @include box-shadow;
      overflow: hidden;

      .feat-events-date-time-container {
        position: relative;
        background: $white;
        height: 93px;

        @media (min-width: 768px) and (max-width: 979px) {
          height: auto;
        }

        .date-stacked {
          float: left;
          height: 93px;
          width: 93px;
          margin: 0;
          padding: 0;

          .date-month {
            font-size: em(20px);
            line-height: 38px;
            margin-top: 11px;
          }

          .date-day {
            font-size: em(38px);
          }
        }

        .feat-events-label-time-container {
          position: absolute;
          bottom: -7px;
          left: 108px;

          @media (min-width: 768px) and (max-width: 979px) {
            position: static;
            clear: both;
            padding: 10px 30px 0;
          }

          .feat-events-label p {
            color: $gray-orange;
            font-weight: 100;
            margin-bottom: 0;
          }
        }
      }

      .feat-events-content-container {
        background: $white;
        padding: 30px;

        .feat-events-title {
          h2 {
            font-size: em(28px);
            margin-top: 0;

            a {
              @include td-color($orange);

              &:focus,
              &:hover {
                @include td-color($primary-color);
              }
            }
          }
        }

        .feat-events-teaser {
          font-size: em(18px);
          line-height: 1.3em;
        }
      }
    }
  }

  &.horizontal-event {
    .feat-events-container {
      @include breakpoint-min(medium) {
        @include box-shadow;
        background: $white;
        display: flex;
        padding: 30px;
      }

      .feat-events-img-container {
        flex-shrink: 0;

        img {
          @include breakpoint-max(medium) {
            width: 100%;
          }
        }
      }

      .feat-events-content-container {
        padding-left: 30px;

        @include breakpoint-max(medium) {
          @include box-shadow;
          background: $white;
          padding: 30px;
        }

        .feat-events-title {
          h2 {
            font-size: em(28px);
            margin-top: 0;
          }

          a {
            @include td-color($orange);

            &:focus,
            &:hover {
              @include td-color($primary-color);
            }
          }
        }

        .date-stacked {
          @include box-shadow;
          margin: 0 0 20px;
          height: 45px;
          width: 40px;

          .date-month {
            font-size: em(18px);
            line-height: 25px;
          }
        }
      }
    }
  }
}
// Event Node
#content-body .content .field-name-field-s-event-map-link a.btn {
  margin: 0;
}
