@charset "UTF-8";

//
// BRAND BAR AND HEADER
//

#global-header {
  background-color: $brand-bright;

  .dm-global-header & {
    position: absolute;
    clip: rect(0 9999px 2px 0);
    clip-path: inset(0 0 55px 0);
    width: 100%;
    @include breakpoint-max(small) {
      clip-path: inset(0 0 60px 0);
    }
  }

  .container {
    padding: 13px 0;
    margin-bottom: 0;
  }
}

#header {
  #logo {
    img {
      max-width: 160px;
      .node-type-stanford-magazine-issue &,
      .page-taxonomy-term &,
      .node-type-stanford-magazine-issue &,
      .page-magazine &,
      .page-magazine-all,
      .node-type-stanford-magazine-article & {
        max-width: 90px;
        @include breakpoint-max(small) {
          max-width: 160px;
        }
        @media (max-width: 480px) {
        max-width: 120px;
      }
        @media (max-width: 380px) {
          max-width: 80px;
        }
      }
    }

    &.logo-mobile {
      padding: 0 5px 0 0;
      @include breakpoint-max(x-small) {
        display: table-cell;
        padding: 0 10px 0 0;
        border-right: 1px solid !important;

        a {
          background-size: 120px 26.66px;
        }
      }

      img {
        @media (max-width: 380px) {
          max-width: 80px;
        }
      }
    }
  }

  #name-and-slogan.with-logo {
    padding: 0 0 0 5px;
    @include breakpoint-max(x-small) {
      display: table-cell;
      padding: 0 0 0 10px;
    }
  }

  &.header {
    background: $white;
    padding: 20px 0 0;
    min-height: 45px;

    #site-title-first-line.site-title-uppercase {
      font-size: 34px;
      @include breakpoint-max(x-small) {
        font-size: 28px;
      }
      @media (max-width: 400px) {
        font-size: 24px;
      }
      @media (max-width: 380px) {
        font-size: 16px;
        margin-bottom: -4px;
      }
    }

    .node-type-stanford-magazine-issue &,
    .page-taxonomy-term &,
    .node-type-stanford-magazine-issue &,
    .page-magazine &,
    .page-magazine-all,
    .node-type-stanford-magazine-article & {
      #site-title-first-line.site-title-uppercase {
        font-size: 18px;
        margin-bottom: -3px;
        @include breakpoint-max(small) {
          font-size: 34px;
          //margin-bottom: -7px;
        }
        @include breakpoint-max(x-small) {
          font-size: 28px;
        }
        @media (max-width: 400px) {
          font-size: 24px;
        }
        @media (max-width: 380px) {
          font-size: 16px;
        }
      }
    }
  }
}

