@charset "UTF-8";
//
// STANFORD PAGE
// FOR NODE DISPLAY AND VIEWS
//
// NODE DISPLAY
.node-type-stanford-page {
  @include breakpoint-max(small) {
    #block-ds-extras-stanford-page-title {
      margin-bottom: 0;
    }
  }

  #block-views-stanford-page-top-banner-block {
    .page-feat-image-container div:first-child.page-cta-link-container {
      bottom: 0;
      float: right;
      height: 0;
      margin-bottom: 10px;
      margin-right: 14%;
      margin-top: 40px;
      position: relative;

      @include breakpoint-max(small) {
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }

    .banner-overlay {
      margin-left: 3%;
      margin-right: auto;
      position: relative;
      width: auto;

      @include breakpoint-max(medium-lrg) {
        height: auto;
        margin-left: auto;
        position: inherit;
        width: 100%;
      }

      &.top-banner-turquoise a {
        text-decoration-color: $orange;
      }

      &.top-banner-orange a {
        text-decoration-color: $pink;
      }

      &.top-banner-pink a {
        text-decoration-color: $turquoise;
      }

      > div {
        @include box-sizing;
        @include box-shadow;
        background: $white;
        bottom: 48px;
        padding: 0 30px 22px;
        position: absolute;
        top: auto;
        width: 50%;

        @include breakpoint-max(medium-lrg) {
          bottom: 88px;
          max-width: 100%;
          position: inherit;
          width: 100%;
        }

        > div:first-child {
          border-top-style: solid;
          border-width: 6px;
          margin-right: 72%;
          padding-top: 20px;
        }

        > div:first-child.top-banner-orange {
          border-top-color: $orange;
        }

        > div:first-child.top-banner-pink {
          border-top-color: $pink;
        }

        > div:first-child.top-banner-turquoise {
          border-top-color: $turquoise;
        }
      }
    }

    .banner-overlay.top-banner-top {
      position: absolute;
      top: 240px;

      @include breakpoint-max(medium-sm) {
        position: relative;
        top: 88px;
        max-width: 100%;
      }
    }

    .banner-overlay.top-banner-right {
      float: left;
      margin-right: 10%;
      min-width: 1440px;

      > div {
        float: right;
        position: relative;
        right: -100px;
        top: -240px;

        @include breakpoint-max(x-large) {
          top: -300px;
        }

        @include breakpoint-max(medium-lrg) {
          position: relative;
          right: 0;
          top: -80px;
          width: 100%;
        }
      }
    }

    .banner-overlay.top-banner-right.top-banner-top {
      right: 0;
      top: 190px;

      @include breakpoint-max(medium-lrg) {
        top: 170px;
      }

      > div {
        float: right;
        position: relative;
        top: -140px;

        @include breakpoint-max(medium-lrg) {
          position: relative;
          right: 0;
          top: -170px;
          width: 100%;
        }
      }
    }

    .banner-overlay.top-banner-right.top-banner-bottom {
      right: 0;
      position: absolute;

      @include breakpoint-max(medium-lrg) {
        float: left;
        min-width: auto;
        position: relative;
      }

      > div {
        float: right;
        position: relative;
        top: -240px;

        @include breakpoint-max(medium-lrg) {
          position: relative;
          top: 0;
          width: 100%;
        }
      }
    }

    .banner-overlay.top-banner-top {
      top: 280px;
      min-width: 1440px;

      @include breakpoint-max(medium-lrg) {
        float: left;
        min-width: auto;
        position: relative;
        top: 88px;
      }
    }

    .page-feat-caption-container {
      background: $white;
      color: $primary-color;

      @include breakpoint-max(small) {
        margin-top: 0;
        margin-bottom: 0;
      }

      @include breakpoint-max(x-small) {
        width: 90%;
      }

      p {
        font-size: em(18px);
        line-height: 1.3em;
        margin-bottom: 20px;
      }

      p:last-child {
        margin-bottom: 0;
      }

      a {
        color: $primary-color;
        text-decoration: underline;
      }

      a:hover {
        text-decoration-color: $primary-color;
      }

      a.btn {
        text-decoration: none;
        font-size: inherit;
      }

      .btn a:hover,
      a.btn:hover {
        background-color: $primary-color;
        color: $white;
      }
    }

    .page-feat-caption-container h2 {
      font-size: em(26px);
      letter-spacing: 0;

      @include breakpoint-max(small-med) {
        font-size: 1em;
      }

      @include breakpoint-max(smaller) {
        font-size: 0.8em;
      }
    }

    .page-feat-caption-container h3 {
      @include breakpoint-max(small-med) {
        font-size: 1em;
      }

      @include breakpoint-max(smaller) {
        font-size: 0.8em;
      }
    }

    .page-cta-link-container {
      bottom: 100px;
      float: right;
      height: 0;
      margin-left: 3%;
      margin-right: 8%;
      position: relative;

      @include breakpoint-max(x-small) {
        bottom: 60px;

        a {
          font-size: 1.7rem;
        }
      }
    }

    .page-cta-link-container.right {
      float: left;
      width: 100%;
    }

    .views-row {
      margin-bottom: 0;
    }
  }
}
