@charset "UTF-8";

//
// DIGITAL MAGAZINE ARTICLE
// FOR NODE DISPLAY
//

.node-type-stanford-magazine-article {
  .field-name-field-s-mag-article-topics {
    font-size: em(20px);
    width: 75%;
    margin: 0 auto 18px;
  }

  .field-name-field-s-mag-article-dek {
    width: 75%;
    margin: 0 auto 22px;
  }

  .group-s-mag-article-date-byline {
    font-size: em(18px);
    color: $gray-orange;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto 18px;

    .field-name-field-s-mag-article-date {
      .field-item {
        &:after {
          content: "\00a0 \00a0 |\00a0 \00a0 ";
        }
      }
    }

    .group-s-mag-article-dept {
      width: 75%;
      margin: 0 auto;

      h2 {
        font-size: em(22px);
        font-family: $primary-font;
        margin-bottom: 0;
      }

      .field-name-field-s-mag-article-dept {
        width: 45%;
      }
    }
  }
}
