@charset "UTF-8";

//
// NEWS
// FOR NODE DISPLAY AND VIEWS
//

// NODE DISPLAY



.node-type-stanford-news-item {
  .date-display-single {
    font-weight: 600;
  }

  #page-title {
    display: none;
  }

  div#content-head {
    margin-bottom: 0;
  }

  .body-style {
    width: 750px;
    @include breakpoint-max(med-small) {
      width: 100%;
    }
  }

  .postcard-image {
    @include breakpoint-min(medium) {
      width: 850px;
    }
  }

  .fullwidth .field-name-field-s-news-banner {
    .field-item {
      background: $primary-color;
    }

    img {
      @include breakpoint-max(med-small) {
        height: 215px;
      }

      width: 100%;
      height: 360px;
      opacity: 0.4;
    }
  }

  &.logged-in {
    .fullwidth .field-name-field-s-news-banner {
      img {
        @include breakpoint-max(med-small) {
          height: 315px;
        }
      }
    }
  }

  .content-body {
    .field-name-field-s-image-image {
      margin-bottom: 0;
    }

    .group-s-news-body-style {
      margin-top: 1em;
    }
  }

  .caption {
    font-size: 0.7em;
    font-style: normal;

    p:after {
      padding-right: 3px;
    }
  }

  .credits {
    margin-bottom: 0;
    margin-top: -8px;
    color: $gray-orange;
    font-size: 0.7em;
  }

  .group-s-news-byline-style.credits,
  .group-s-news-date-style.credits {
    color: $primary-color;
    font-size: 1em;
    line-height: 1.5em;
  }

  .group-s-caption-style.field-group-div.caption,
  .group-s-credits-style.field-group-div.credits {
    @media (max-width: 550px) {
      display: block;
    }
  }
}

#block-ds-extras-banner-overlay {
  width: 750px;
  position: absolute;
  top: 210px;
  @include breakpoint-max(large) {
    top: 250px;
  }
  @include breakpoint-max(med-small) {
    width: 450px;
    top: 225px;
  }
  @include breakpoint-max(small) {
    position: relative;
    top: -196px;
    margin-bottom: -245px;
  }
  @include breakpoint-max(smaller) {
    top: -224px;
  }
  @include breakpoint-max(x-small) {
    width: 100%;
  }
  @media (max-width: 380px) {
    top: -315px;
    width: 250px;
  }

  .field-name-field-s-news-teaser .field-item {
    color: $white;
    text-shadow: 0 0 4px $black;
    line-height: 1.3em;
    @include breakpoint-max(med-small) {
      font-size: em(16px);
    }
    @media (max-width: 485px) {
      font-size: em(15px);
    }
    @media (max-width: 380px) {
      font-size: em(14px);
    }
  }

  .field-name-title h1 {
    color: $white;
    font-size: em(48px);
    text-shadow: 0 0 4px $black;
    line-height: 1.3em;
    margin: -9px 0 22px;
    @include breakpoint-max(med-small) {
      font-size: 1.4em;
    }
    @media (max-width: 485px) {
      font-size: 1.2em;
    }
    @media (max-width: 380px) {
      font-size: 1em;
    }
  }

  .logged-in & {
    top: 285px;
    @include breakpoint-max(large) {
      top: 325px;
    }
    @include breakpoint-max(small) {
      top: -305px;
    }
    @media (max-width: 380px) {
      top: -325px;
    }

    .field-name-title h1 {
      @media (max-width: 485px) {
        font-size: 1.2em;
      }
    }

    .field-name-field-s-news-teaser .field-item {
      @media (max-width: 485px) {
        font-size: em(15px);
      }
    }
  }
}

// HOMEPAGE FEATURED NEWS VIEW

.view-stanford-news-featured {
  .feat-news-container {
    .feat-news-img {
      overflow: hidden;

      &:hover img {
        @include transform (scale(1.03));
      }

      img {
        @include transition;
        width: 100%;
      }
    }

    .feat-news-content-container {
      background: $white;
      padding: 15px 30px 30px;
      @include box-shadow;

      .feat-news-date {
        color: $gray-orange;
        font-size: em(20px);
        font-weight: 100;
        margin-bottom: 10px;
      }

      .feat-news-title {
        h2 {
          font-size: em(28px);

          a {
            @include td-color($pink);

            &:focus,
            &:hover {
              @include td-color($primary-color);
            }
          }
        }
      }

      .feat-news-teaser {
        font-size: em(18px);
        line-height: 1.3em;
      }
    }
  }
}

// RECENT NEWS VIEWS

.view-stanford-news-with-title,
.view-stanford-news-image-title {
  h3 {
    font-size: em(22px);
    line-height: 1.1em;
    font-family: $primary-font;
    text-decoration: none;
    a {
      text-decoration: none;
    }
  }
  .views-row
  {
    margin-bottom: 1.5em;
  }

  img {
    margin-bottom: 10px;
  }
}

// Differences in the title only view

.view-stanford-news-with-title {
  h3 {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .more-link {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// NEWS PAGE VIEW

.page-news .date-display-single {
  font-weight: 600;
}

.view-soe-school-news-with-teaser {
  margin-top: 12px;
}
