@charset "UTF-8";

//
// NEWS
// FOR NODE DISPLAY AND VIEWS
//

// NODE DISPLAY

.node-type-stanford-news-item {
  #page-title {
    display: none;
  }

  div#content-head {
    margin-bottom: 0;
  }

  .body-style {
    width: 750px;
    @media (max-width: 910px) {
      width: 100%;
    }
  }

  .postcard-image {
    @include breakpoint-min(medium) {
      width: 850px;
    }
  }

  .fullwidth .field-name-field-s-news-banner {
    .field-item {
      background: $primary-color;
    }

    img {
      width: 100%;
      height: 300px;
      opacity: 0.4;
    }
  }

  .content-body {
    .field-name-field-s-image-image {
      margin-bottom: 0;
    }

    .group-s-news-body-style {
      margin-top: 1em;
    }
  }

  .caption {
    font-size: 0.7em;
    font-style: normal;

    p:after {
      padding-right: 3px;
    }
  }

  .credits {
    margin-bottom: 0;
    margin-top: -8px;
    color: $gray-orange;
    font-size: 0.7em;
  }

  .group-s-news-byline-style.credits,
  .group-s-news-date-style.credits {
    color: $primary-color;
    font-size: 1em;
    line-height: 1.5em;
  }

  .group-s-caption-style.field-group-div.caption,
  .group-s-credits-style.field-group-div.credits {
    @media (max-width: 550px) {
      display: block;
    }
  }
}

#block-ds-extras-banner-overlay {
  width: 750px;
  position: absolute;
  top: 210px;
  @include breakpoint-max(large) {
    top: 250px;
  }
  @media (max-width: 910px) {
    width: 450px;
    top: 225px;
  }
  @include breakpoint-max(small) {
    position: relative;
    top: -310px;
    margin-bottom: -245px;
  }
  @media (max-width: 485px) {
    width: 100%;
  }
  @media (max-width: 380px) {
    top: -315px;
    width: 250px;
  }

  .field-name-field-s-news-teaser .field-item {
    color: $white;
    text-shadow: 0 0 4px $black;
    line-height: 1.3em;
    @media (max-width: 910px) {
      font-size: em(16px);
    }
    @media (max-width: 485px) {
      font-size: em(15px);
    }
    @media (max-width: 380px) {
      font-size: em(14px);
    }
  }

  .field-name-title h1 {
    color: $white;
    text-shadow: 0 0 4px $black;
    line-height: 1.3em;
    @media (max-width: 910px) {
      font-size: 1.4em;
    }
    @media (max-width: 485px) {
      font-size: 1.2em;
    }
    @media (max-width: 380px) {
      font-size: 1em;
    }
  }

  .logged-in & {
    top: 285px;
    @include breakpoint-max(large) {
      top: 325px;
    }
    @include breakpoint-max(small) {
      top: -305px;
    }
    @media (max-width: 380px) {
      top: -325px;
    }

    .field-name-title h1 {
      @media (max-width: 485px) {
        font-size: 1.2em;
      }
    }

    .field-name-field-s-news-teaser .field-item {
      @media (max-width: 485px) {
        font-size: em(15px);
      }
    }
  }
}

// HOMEPAGE FEATURED NEWS VIEW

.view-stanford-news-featured {
  .feat-news-container {
    .feat-news-img {
      img {
        width: 100%;
      }
    }

    .feat-news-content-container {
      background: $white;
      padding: 15px 30px 30px;
      @include box-shadow;

      .feat-news-date {
        color: $gray-orange;
        font-size: em(20px);
        font-weight: 100;
        margin-bottom: 10px;
      }

      .feat-news-title {
        a {
          text-decoration-color: $pink;

          &:focus,
          &:hover {
            text-decoration-color: $primary-color;
          }
        }
      }

      .feat-news-teaser {
        font-size: em(20px);
      }
    }
  }
}
