@charset "UTF-8";
//
// BEANS
//
// CALL TO ACTION BEANS
.bean-stanford-call-to-action {
  #content-body-bottom & {

    @include breakpoint-min(small) {
      margin-bottom: 100px;
    }
  }

  a.group-s-cta-link:hover img {
    @include transform (scale(1.03));
  }

  .field-name-field-s-cta-image {
    overflow: hidden;

    img {
      @include transition;
    }
  }

  .group-s-cta-title-style {
    padding: 18px 0 22px;

    @include breakpoint-max(x-small) {
      padding: 12px 0 14px;
    }

    h2 {
      color: $black;
      font-size: em(22px);
      font-family: $primary-font;
      font-weight: 400;
    }

    .turquoise & {
      background: $turquoise;
    }

    .orange & {
      background: $orange;
    }

    .pink & {
      background: $pink;
    }
  }
}

.content-body [id*="block-bean-sitewide-facebook-cta-block"].block[class*="span"],
.content-body [id*="block-bean-sitewide-instagram-cta-block"].block[class*="span"],
.content-body [id*="block-bean-sitewide-twitter-cta-block"].block[class*="span"] {

  @include breakpoint-min(large) {
    width: 20%;
  }

  @include breakpoint-max(small) {
    width: 50%;
    margin: 0 25% 20px;
  }

  .field-name-field-s-cta-icon {
    font-size: em(50px);
  }
}

[id*="block-bean-sitewide-instagram-cta-block"].block[class*="span"] {

  @include breakpoint-min(large) {
    margin-left: 17.25%;
  }
}

[id*="block-bean-sitewide-twitter-cta-block"].block[class*="span"] {

  @include breakpoint-min(large) {
    margin-right: 17.25%;
  }
}
// POSTCARD & POSTCARD LINKED BEANS
#content-body .content .field-name-field-s-postcard-body a.btn {
  width: auto;

  @include breakpoint-max(medium) {
    width: 30%;
  }
}
// POSTCARD SINGLE CENTERED BUTTON BEANS
.row-fluid .block-bean {
  &.span12,
  &.span4,
  &.span6 {

    @include breakpoint-max(small) {
      margin-left: 0;
    }

    &.no-padding.well {
      padding: 0;

      h2 {
        margin-top: 1.1em;
      }

      .field-name-field-s-image-image img {
        width: 100%;
      }

      .postcard-content {
        padding: 2em;
      }
    }

    &.no-top-padding.well {
      padding-top: 0;

      h2 {
        margin-top: 1.1em;
      }

      .field-name-field-s-image-image img {
        width: 100%;
      }

      .postcard-content {
        padding: 2em;
      }
    }
  }

  &.span12 {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;

    @include breakpoint-max(small) {
      margin-left: 0;
    }
  }

  &.no-margin {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  &.center-title.well .group-s-postcard-content .group-s-title-container {
    text-align: center;
  }

  &.well {
    padding: 2em;

    .bean-stanford-postcard .field-name-field-s-postcard-body h2:last-child,
    .bean-stanford-postcard .field-name-field-s-postcard-body h3:last-child,
    .bean-stanford-postcard .field-name-field-s-postcard-body p:last-child {
      margin-bottom: 0;
    }

    .bean-stanford-postcard a.btn {
      font-size: inherit;
    }
  }
}

.bean-stanford-postcard-linked,
.bean-stanford-postcard.view-mode-single_centered_button {
  .postcard,
  .postcard-linked-container {
    display: flex;
    padding: 40px;

    @include breakpoint-max(medium) {
      display: block;
      padding: 0;
    }

    a.postcard-linked-img-container {
      flex-shrink: 0;
      margin-right: 30px;

      @include breakpoint-max(medium) {
        margin-right: 0;
      }

      // SPAN 12 BEAN RESPONSIVE
      @include breakpoint-max(medium) {
        flex-shrink: 0.9;
      }

      &:hover img {
        @include transform (scale(1.03));
      }

      .postcard-linked-img {
        position: relative;

        .field-name-field-s-image-image,
        .field-name-field-s-post-link-image {
          overflow: hidden;

          img {
            @include transition;

            @include breakpoint-max(medium) {
              width: 100%;
            }
          }
        }

        .postcard-linked-arrow {
          position: absolute;
          bottom: 20px;
          right: 20px;
          width: 40px;
          height: 40px;

          img {
            width: 26px;
            height: auto;
            vertical-align: -9px;
            padding: 3px 8px;

            @include breakpoint-max(medium) {
              vertical-align: -12px;
            }

            @include breakpoint-max(x-small) {
              vertical-align: -14px;
            }
          }
        }
      }
    }

    .postcard-content,
    .postcard-linked-content-container {
      width: 100%;

      @include breakpoint-max(medium) {
        width: auto;
        padding: 30px;
      }

      .field-name-field-s-post-link-body,
      .field-name-field-s-postcard-body {
        font-size: em(18px);
        line-height: 1.3em;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .field-name-title,
      .postcard-linked-title {
        margin-bottom: 1em;

        @include breakpoint-max(small) {
          margin-bottom: 0;
        }

        a {
          @include td-skip;
          @include td-color($turquoise);
          color: $primary-color;
          font-family: $roboto-slab;
          font-size: em(28px);
          font-weight: 600;
          letter-spacing: 0.02em;
          text-decoration: underline;

          @include breakpoint-max(medium) {
            margin-top: 20px;
          }

          &:focus,
          &:hover {
            @include td-color($primary-color);
          }
        }
      }
      // STANDARDIZE PADDING INSIDE POSTCARD LINKED BLOCK
      .postcard-body p:last-child,
      .postcard-linked-body p:last-child {
        margin-bottom: 0.8em;
      }

      .postcard-body,
      .postcard-linked-body p {
        margin-bottom: 1em;
      }
    }

    a.btn {
      text-decoration: none;
      margin-bottom: 0;
      font-size: inherit;
    }
  }

  &.postcard-linked-arrow-color-orange .postcard-linked-arrow {
    background: $orange;
  }

  &.postcard-linked-arrow-color-turquoise .postcard-linked-arrow {
    background: $turquoise;
  }

  &.postcard-linked-arrow-color-pink .postcard-linked-arrow {
    background: $pink;
  }

  .span1 &,
  .span2 &,
  .span3 &,
  .span4 &,
  .span5 &,
  .span6 &,
  .span7 & {
    .postcard,
    .postcard-linked-container {
      display: block;
      padding: 0;

      .postcard-image,
      .postcard-linked-img-container {
        margin-right: 0;
      }

      .image-container,
      .postcard-linked-img {
        .field-name-field-s-post-link-image img {
          width: 100%;
        }
      }

      .postcard-content,
      .postcard-linked-content-container {
        width: auto;
        padding: 30px;
      }
    }
  }

  .span12 & {

    @include breakpoint-max(medium) {
      margin: 0 10%;
    }

    @include breakpoint-max(smaller) {
      margin: 0;
    }
  }
}

.block-bean {
  &.span12 {
    .bean-stanford-postcard {

      @include breakpoint-max(medium) {
        margin: 0;
      }

      @include breakpoint-max(small) {
        margin: 0;
      }

      @include breakpoint-max(smaller) {
        margin: 0;
      }
    }
  }

  &.span4 {

    @include breakpoint-max(medium) {
      margin-left: 0;
    }

    .bean-stanford-postcard-linked .postcard-linked-container .postcard-linked-content-container {
      padding: 20px;
    }

    .bean-stanford-postcard-linked .postcard-linked-title {
      margin-bottom: 0;

      a {
        font-size: em(24px);
      }
    }
  }

  &.block {

    @include breakpoint-max(smaller) {
      margin-bottom: 30px;
    }

    &.span4 {

      @include breakpoint-max(medium) {
        width: 100%;
      }
    }

    &.span12,
    &.span6 {

      @include breakpoint-max(small) {
        width: 100%;
      }
    }
  }

  .bean-stanford-postcard {
    .group-s-postcard {
      display: block;
      padding: 0;

      .postcard-content {
        width: auto;
        padding: 0;
      }

      .postcard-image img {
        width: 100%;
      }
    }

    h2 {
      font-size: 28px;
      margin-top: 10px;

      @include breakpoint-max(medium-sm) {
        font-size: 22px;
        line-height: 1.2em;
      }

      a {
        text-decoration-color: $turquoise;

        &:hover {
          text-decoration-color: $primary-color;
        }
      }
    }

    h3 {
      font-family: $primary-font;
      margin-top: 1em 0 0.3em;

      a {
        text-decoration-color: $turquoise;

        &:hover {
          text-decoration-color: $primary-color;
        }
      }
    }

    .field-name-field-s-postcard-body h2:first-child {
      margin-top: 0;
    }

    .field-name-title h2 {
      font-size: 28px;
    }
  }
}

.bean-stanford-postcard.view-mode-single_centered_button {
  a.btn {
    margin-bottom: 0;
  }

  p {
    margin: 0;
    text-align: center;
  }

  .field-name-field-s-postcard-body {
    margin-bottom: 0;

    a.btn {
      margin-bottom: 0;
    }
  }

  .bean-stanford-postcard .field-name-field-s-postcard-body h2:last-child,
  .bean-stanford-postcard .field-name-field-s-postcard-body h3:last-child,
  .bean-stanford-postcard .field-name-field-s-postcard-body p:last-child {
    margin-bottom: 0;
  }
}
// TESTIMONIAL BEANS
.testimonial {
  &.span12 .quote {
    font-size: 1.2em;
  }

  &.span6 .quote {
    font-size: 1.1em;
  }

  &.block-bean.span6.no-padding.well,
  &.block-bean.span4.no-padding.well,
  &.block-bean.span3.no-padding.well {
    padding: 0 46px 40px;

    @include breakpoint-max(medium) {
      padding: 0 46px 40px;
    }

    @include breakpoint-max(small) {
      width: 100%;

      .group-s-circle-image-style {
        width: auto;
        float: right;
        padding: 0 0 40px 40px;
        text-align: center;
      }
    }

    @include breakpoint-max(x-small) {
      .group-s-circle-image-style {
        width: 100%;
        float: right;
        padding: 20px 0 0;
        text-align: center;
      }
    }

    .field-name-field-s-image-image {
      padding: 20px 0 0;
      text-align: center;

      @include breakpoint-max(x-small) {
        padding: 0;
      }

      img {
        width: 100px;
      }
    }
  }

  &.block-bean.span12.no-padding.well {
    @include breakpoint-max(x-small) {
      padding: 0 46px 40px;
    }

    .field-name-field-s-image-image {
      img {
        width: 100px;
      }
    }

    .group-s-circle-image-style {
      float: right;
      width: auto;
      padding: 40px 0 40px 20px;

      @include breakpoint-max(medium) {
        width: 100%;
        float: left;
        padding: 20px 0 0;
        text-align: center;

        img {
          margin: 20px 0 0px;
        }
      }

      @include breakpoint-max(small) {
        width: auto;
        float: right;
        padding: 40px 0 40px 40px;
        text-align: center;

        img {
          margin: 10px 0 0px;
        }
      }

      @include breakpoint-max(x-small) {
        width: 100%;
        float: left;
        padding: 20px 0 0;
        text-align: center;
      }
    }
  }

  .bean-stanford-testimonial-block .more-link,
  .bean-stanford-testimonial-block a.more-link {
    margin: 1em 0 .5em;
  }

  .postcard {
    padding: 0 56px 40px;

    @include breakpoint-max(small) {
      display: block;
    }
  }

  .field-name-field-s-testimonial-superhead {
    border-top: $turquoise 6px solid;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    font-family: $roboto-slab;
    line-height: 1.2em;
    margin-bottom: 20px;
    padding-top: 12px;

    @include breakpoint-max(medium) {
      font-size: 16px;
    }

    &.field {
      margin-bottom: 2em;

      @include breakpoint-max(smaller) {
        margin-bottom: 1em;
      }
    }
  }

  .field-name-field-s-image-image img {
    width: 100px;
    margin: 0;
  }

  .field-name-field-s-testimonial-quote {
    font-family: $roboto-slab;

    @include breakpoint-max(medium) {
      font-size: 18px;
      line-height: 1.5em;
    }

    @include breakpoint-max(smaller) {
      font-size: 18px;
    }
  }

  .field-name-field-s-testimonial-credits {
    font-size: 18px;
    letter-spacing: 0;
    margin-top: 0;

    @include breakpoint-max(smaller) {
      font-size: 16px;
    }

    &.field {
      margin-bottom: 0;
    }
  }

  .group-s-credits-style {
    margin-bottom: 0;
  }

  .quote {
    .field-item::after {
      font-family: $primary-font;
      font-size: 56px;
      font-weight: 400;
      opacity: 1;
      top: 30;

      @include breakpoint-max(smaller) {
        font-size: 40px;
      }
    }
  }
}

.span12 {
  .bean-stanford-postcard-linked {
    margin: 0;
  }
}

.quote {
  &::before {
    font-family: $primary-font;
    font-weight: 400;
    opacity: 1;
  }

  &::after {
    font-family: $primary-font;
    font-weight: 400;
    opacity: 1;
  }
}

div.quote {
  p:last-child::after {
    font-family: $primary-font;
    font-weight: 400;
    opacity: 1;
  }

  &::before {
    font-size: 56px;

    @include breakpoint-max(smaller) {
      font-size: 40px;
    }
  }
}

blockquote.quote {
  p:last-child::after {
    font-family: $primary-font;
    font-weight: 400;
    opacity: 1;
  }

  &::before {
    font-size: 56px;

    @include breakpoint-max(smaller) {
      font-size: 40px;
    }
  }
}

p.superhead {
  color: $primary-color;
  font-family: $primary-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

.infotext,
.well .infotext {
  font-size: 56px;
  font-family: $roboto-slab;
  color: $primary-color;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0;
  margin: 0;
}

p.infotext {
  margin: 0;
}
