@charset "UTF-8";

//
// WYSIWYG
//

.summary {
  font-family: $roboto-slab;
  font-size: em(32px);
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 30px;
}

a {
  &[class*="btn-"] {
    color: $black;
  }

  &.btn-orange {
    background: $orange;
  }

  &.btn-turquoise {
    background: $turquoise;
  }

  &.btn-pink {
    background: $pink;
  }

  &.external-link:after {
    content: url("../img/soe_external_link_icon_red.svg");
    padding-left: 5px;
    vertical-align: -2%;
  }
}

p.columns {
  font-family: $roboto-slab;
  font-size: em(28px);
  line-height: 1.8em;
  font-weight: bold;
  @include column-count (2);
  @include column-gap (30px);
  @include breakpoint(small) {
     @include column-count (1);
  }
}

p.related-link {
  background: $white;
  padding: 26px 36px;
  @include box-shadow;

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &:before {
    content: "Related \00a0 | \00a0";
  }
}

p.summary.drop-cap {
  &:first-letter {
    font-size: em(85px, 32px);
    font-weight: 300;
    float: left;
    padding: 23px 10px 0 0;
  }
}

.main table {
  width: 100%;
}
