@charset "UTF-8";

//
// STANFORD PAGE
// FOR NODE DISPLAY AND VIEWS
//

// NODE DISPLAY

.node-type-stanford-page {
  @include breakpoint-max(small) {
    #block-ds-extras-stanford-page-title {
      margin-bottom: 0;
    }
  }

  #block-views-stanford-page-top-banner-block {

    .banner-overlay {
      margin-left: 3%;
      margin-right: auto;
      position: relative;
      width: auto;

      @include breakpoint-max(medium-lrg) {
        height: auto;
        margin-left: auto;
        position: inherit;
        width: 100%;
      }

      &.top-banner-top {
        position: absolute;
        top: 240px;

        @include breakpoint-max(medium-sm) {
          position: relative;
          top: 88px;
        }
      }

      &.top-banner-turquoise a {
        text-decoration-color: $orange;
      }

      &.top-banner-orange a {
        text-decoration-color: $pink;
      }

      &.top-banner-pink a {
        text-decoration-color: $turquoise;
      }

      > div {
        background: $white;
        bottom: 48px;
        @include box-sizing;
        @include box-shadow;
        padding: 0 30px 22px;
        position: absolute;
        top: auto;
        width: 50%;

        > div:first-child {
          border-top-style: solid;
          border-width: 6px;
          margin-right: 72%;
          padding-top: 20px;
        }

        > div:first-child.top-banner-orange {
          border-top-color: $orange;
        }

        > div:first-child.top-banner-pink {
          border-top-color: $pink;
        }

        > div:first-child.top-banner-turquoise {
          border-top-color: $turquoise;
        }

        @include breakpoint-max(medium-lrg) {

          bottom: 88px;
          max-width: 100%;
          position: inherit;
          width: 100%;
        }
      }
    }

    .banner-overlay.top-banner-right {
      float: left;
      margin-right: 10%;

      > div {
        float: right;
        position: relative;
        right: -100px;
        top: -290px;

        @include breakpoint-max(x-large) {

          top: -300px;
        }

        @include breakpoint-max(medium-lrg) {

          position: relative;
          right: 0;
          top: -80px;
          width: 100%;
        }
      }
    }

    .banner-overlay.top-banner-right.top-banner-top {
      float: left;
      margin-right: 10%;

      > div {
        float: right;
        position: relative;
        right: 100px;
        top: -190px;

        @include breakpoint-max(large) {
          top: -220px;
          width: 100%;
        }

        @include breakpoint-max(medium-lrg) {

          position: relative;
          right: 0;
          top: -170px;
          width: 100%;
        }
      }
    }

    .banner-overlay.top-banner-top {
      position: fixed;
      top: 480px;
      width: 100%;

      @include breakpoint-max(large) {
        top: 560px;
      }

      @include breakpoint-max(medium-lrg) {
        position: relative;
        top: 88px;
        width: 100%;
      }
    }

    .page-feat-caption-container {
      background: $white;
      color: $primary-color;

      p {
        font-size: em(18px);
        line-height: 1.3em;
        margin-bottom: 20px;
      }

      p:last-child {
        margin-bottom: 0px;
      }

      h2 {
        font-size: em(26px);
        letter-spacing: 0;
      }

      a {
        color: $primary-color;
        text-decoration: underline;
      }

      a:hover {
        text-decoration-color: $primary-color;
      }

      a.btn  {
        text-decoration: none;
      }

      .btn a:hover,
      a.btn:hover {
        background-color: $primary-color;
        color: $white;
      }

      @include breakpoint-max(small) {

        margin-top: 0;
        margin-bottom: 0;
      }

      @include breakpoint-max(x-small) {

        width: 90%;
      }
    }

    .page-cta-link-container {
      float: right;
      margin-left: 3%;
      margin-right: 8%;
      position: relative;
      bottom: 100px;

      @include breakpoint-max(x-small) {

        bottom: 60px;

        a {
          font-size: 1.7rem;
        }
      }

      &.right {
        float: left;
        width: 100%;
      }
    }
  }
}
