.spotlight-transition {
  transition: opacity 1s;
  opacity: 0.5;
}

.spotlight {
  opacity: 1;
  transition: opacity 1s;
}

.views-exposed-widget label:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.view-stanford-ppl-spot-3-v-card .view-filters form {
  float: right;
}
