.spotlight-transition {
  transition: opacity 1s;
  opacity: 0.5;
}

.spotlight {
  opacity: 1;
  transition: opacity 1s;
}

.spotlight .views-exposed-widgets label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.view-stanford-ppl-spot-3-v-card .view-filters form {
  float: right;
}
